Code/client_flow.json
[
    {
        "id": "12cc7b9140e91930",
        "type": "subflow",
        "name": "STPLC01 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC01(branch module).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1240,
                "y": 220,
                "wires": [
                    {
                        "id": "6777d713dc23c738",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 300,
                "wires": [
                    {
                        "id": "6f15d5b1bae31e16",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 360,
                "wires": [
                    {
                        "id": "1ecbcfca3322f865",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1080,
            "y": 360,
            "wires": [
                {
                    "id": "6b726418cf933e6a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "4fd820fac67df5cf",
        "type": "OpcUa-Client",
        "z": "12cc7b9140e91930",
        "endpoint": "0f54b01f58dab160",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "6777d713dc23c738"
            ]
        ]
    },
    {
        "id": "b4b00b7ef493e492",
        "type": "OpcUa-Item",
        "z": "12cc7b9140e91930",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "4fd820fac67df5cf"
            ]
        ]
    },
    {
        "id": "ba64c7c28737b3be",
        "type": "inject",
        "z": "12cc7b9140e91930",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "d97e7f84edc0fdfe"
            ]
        ]
    },
    {
        "id": "0c950da8b2645ebd",
        "type": "OpcUa-Client",
        "z": "12cc7b9140e91930",
        "endpoint": "0f54b01f58dab160",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 920,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "84e1df8dd1ca0899",
        "type": "OpcUa-Item",
        "z": "12cc7b9140e91930",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "0c950da8b2645ebd"
            ]
        ]
    },
    {
        "id": "d132a5d17f0aeeeb",
        "type": "delay",
        "z": "12cc7b9140e91930",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "b4b00b7ef493e492"
            ]
        ]
    },
    {
        "id": "1ecbcfca3322f865",
        "type": "OpcUa-Client",
        "z": "12cc7b9140e91930",
        "endpoint": "0f54b01f58dab160",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "aac50b82321e053c"
            ]
        ]
    },
    {
        "id": "d97e7f84edc0fdfe",
        "type": "OpcUa-Item",
        "z": "12cc7b9140e91930",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "1ecbcfca3322f865"
            ]
        ]
    },
    {
        "id": "aac50b82321e053c",
        "type": "function",
        "z": "12cc7b9140e91930",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "d132a5d17f0aeeeb",
                "84e1df8dd1ca0899",
                "1efad5ce8270edb8"
            ]
        ]
    },
    {
        "id": "6b726418cf933e6a",
        "type": "status",
        "z": "12cc7b9140e91930",
        "name": "",
        "scope": null,
        "x": 960,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1efad5ce8270edb8",
        "type": "OpcUa-Item",
        "z": "12cc7b9140e91930",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "e48e2da282c4f005"
            ]
        ]
    },
    {
        "id": "e48e2da282c4f005",
        "type": "OpcUa-Client",
        "z": "12cc7b9140e91930",
        "endpoint": "0f54b01f58dab160",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 940,
        "y": 300,
        "wires": [
            [
                "6f15d5b1bae31e16"
            ]
        ]
    },
    {
        "id": "6777d713dc23c738",
        "type": "function",
        "z": "12cc7b9140e91930",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6f15d5b1bae31e16",
        "type": "function",
        "z": "12cc7b9140e91930",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0f54b01f58dab160",
        "type": "OpcUa-Endpoint",
        "z": "12cc7b9140e91930",
        "endpoint": "opc.tcp://172.20.8.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "140ebf9494923060",
        "type": "subflow",
        "name": "STPLC10 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC10(Bottom cover feeder).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1240,
                "y": 220,
                "wires": [
                    {
                        "id": "5628ae60ce1ea945",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 300,
                "wires": [
                    {
                        "id": "c9f3a4a0ee6dd929",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 360,
                "wires": [
                    {
                        "id": "278a4f8a877815e7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1080,
            "y": 360,
            "wires": [
                {
                    "id": "d089f02564c08446",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "0b27cd0321463e57",
        "type": "OpcUa-Client",
        "z": "140ebf9494923060",
        "endpoint": "a16b8378f2753986",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 930,
        "y": 220,
        "wires": [
            [
                "5628ae60ce1ea945"
            ]
        ]
    },
    {
        "id": "52a2c663f603f38b",
        "type": "OpcUa-Item",
        "z": "140ebf9494923060",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "0b27cd0321463e57"
            ]
        ]
    },
    {
        "id": "045cbfc059ab9031",
        "type": "inject",
        "z": "140ebf9494923060",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "f7de86e3e073b7db"
            ]
        ]
    },
    {
        "id": "1a9fb0d40229df34",
        "type": "OpcUa-Client",
        "z": "140ebf9494923060",
        "endpoint": "a16b8378f2753986",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 920,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "caab40474c6d41bd",
        "type": "OpcUa-Item",
        "z": "140ebf9494923060",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "1a9fb0d40229df34"
            ]
        ]
    },
    {
        "id": "30269a44d4f054b0",
        "type": "delay",
        "z": "140ebf9494923060",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "52a2c663f603f38b"
            ]
        ]
    },
    {
        "id": "278a4f8a877815e7",
        "type": "OpcUa-Client",
        "z": "140ebf9494923060",
        "endpoint": "a16b8378f2753986",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "a8d0eac168717607"
            ]
        ]
    },
    {
        "id": "f7de86e3e073b7db",
        "type": "OpcUa-Item",
        "z": "140ebf9494923060",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "278a4f8a877815e7"
            ]
        ]
    },
    {
        "id": "a8d0eac168717607",
        "type": "function",
        "z": "140ebf9494923060",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "30269a44d4f054b0",
                "caab40474c6d41bd",
                "4bb61f36725fb2a7"
            ]
        ]
    },
    {
        "id": "d089f02564c08446",
        "type": "status",
        "z": "140ebf9494923060",
        "name": "",
        "scope": null,
        "x": 960,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4bb61f36725fb2a7",
        "type": "OpcUa-Item",
        "z": "140ebf9494923060",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "e631d4389de4d9cb"
            ]
        ]
    },
    {
        "id": "e631d4389de4d9cb",
        "type": "OpcUa-Client",
        "z": "140ebf9494923060",
        "endpoint": "a16b8378f2753986",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 940,
        "y": 300,
        "wires": [
            [
                "c9f3a4a0ee6dd929"
            ]
        ]
    },
    {
        "id": "5628ae60ce1ea945",
        "type": "function",
        "z": "140ebf9494923060",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f3a4a0ee6dd929",
        "type": "function",
        "z": "140ebf9494923060",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a16b8378f2753986",
        "type": "OpcUa-Endpoint",
        "z": "140ebf9494923060",
        "endpoint": "opc.tcp://172.20.3.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "707698cfe542b56c",
        "type": "subflow",
        "name": "STPLC14 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC14(robot cell/PCB mounting).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1240,
                "y": 180,
                "wires": [
                    {
                        "id": "6e0f741369cfc792",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 260,
                "wires": [
                    {
                        "id": "87c79d7f61ef3449",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 320,
                "wires": [
                    {
                        "id": "cd1b7819fcd1a875",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1080,
            "y": 320,
            "wires": [
                {
                    "id": "4ff95f109bc6e4cf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "0980d96c4e1219ae",
        "type": "OpcUa-Client",
        "z": "707698cfe542b56c",
        "endpoint": "c7e1aa205a55c19a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 930,
        "y": 180,
        "wires": [
            [
                "6e0f741369cfc792"
            ]
        ]
    },
    {
        "id": "09b9f1ed99a85d20",
        "type": "OpcUa-Item",
        "z": "707698cfe542b56c",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 760,
        "y": 180,
        "wires": [
            [
                "0980d96c4e1219ae"
            ]
        ]
    },
    {
        "id": "338371eeae9304db",
        "type": "inject",
        "z": "707698cfe542b56c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "0c0bc282635aca2f"
            ]
        ]
    },
    {
        "id": "e92d81c5376d489a",
        "type": "OpcUa-Client",
        "z": "707698cfe542b56c",
        "endpoint": "c7e1aa205a55c19a",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 920,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d1632c520357dd02",
        "type": "OpcUa-Item",
        "z": "707698cfe542b56c",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 760,
        "y": 220,
        "wires": [
            [
                "e92d81c5376d489a"
            ]
        ]
    },
    {
        "id": "210f45872512e906",
        "type": "delay",
        "z": "707698cfe542b56c",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "09b9f1ed99a85d20"
            ]
        ]
    },
    {
        "id": "cd1b7819fcd1a875",
        "type": "OpcUa-Client",
        "z": "707698cfe542b56c",
        "endpoint": "c7e1aa205a55c19a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "bda5d21004806810"
            ]
        ]
    },
    {
        "id": "0c0bc282635aca2f",
        "type": "OpcUa-Item",
        "z": "707698cfe542b56c",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "cd1b7819fcd1a875"
            ]
        ]
    },
    {
        "id": "bda5d21004806810",
        "type": "function",
        "z": "707698cfe542b56c",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "210f45872512e906",
                "d1632c520357dd02",
                "534111c6c957a34a"
            ]
        ]
    },
    {
        "id": "4ff95f109bc6e4cf",
        "type": "status",
        "z": "707698cfe542b56c",
        "name": "",
        "scope": null,
        "x": 960,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "534111c6c957a34a",
        "type": "OpcUa-Item",
        "z": "707698cfe542b56c",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "f27ee21ece8149ec"
            ]
        ]
    },
    {
        "id": "f27ee21ece8149ec",
        "type": "OpcUa-Client",
        "z": "707698cfe542b56c",
        "endpoint": "c7e1aa205a55c19a",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 940,
        "y": 260,
        "wires": [
            [
                "87c79d7f61ef3449"
            ]
        ]
    },
    {
        "id": "6e0f741369cfc792",
        "type": "function",
        "z": "707698cfe542b56c",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "87c79d7f61ef3449",
        "type": "function",
        "z": "707698cfe542b56c",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c7e1aa205a55c19a",
        "type": "OpcUa-Endpoint",
        "z": "707698cfe542b56c",
        "endpoint": "opc.tcp://172.20.4.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "259273acd6d9a928",
        "type": "subflow",
        "name": "STPLC13 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC13(quality inspection).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1500,
                "y": 220,
                "wires": [
                    {
                        "id": "d07a8ee42105df65",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1500,
                "y": 300,
                "wires": [
                    {
                        "id": "3f9a3e84a2cec9a5",
                        "port": 0
                    }
                ]
            },
            {
                "x": 860,
                "y": 360,
                "wires": [
                    {
                        "id": "70c98dc38c330427",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1360,
            "y": 360,
            "wires": [
                {
                    "id": "fc23e8fe23d718f4",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "e4da5a4677e39c3e",
        "type": "OpcUa-Client",
        "z": "259273acd6d9a928",
        "endpoint": "f4d45c2a532f8651",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "d07a8ee42105df65"
            ]
        ]
    },
    {
        "id": "fa33a60c99021365",
        "type": "OpcUa-Item",
        "z": "259273acd6d9a928",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "e4da5a4677e39c3e"
            ]
        ]
    },
    {
        "id": "8f642290707f2119",
        "type": "inject",
        "z": "259273acd6d9a928",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "3b76df7a3bcac18e"
            ]
        ]
    },
    {
        "id": "f65899e96b8a28b5",
        "type": "OpcUa-Client",
        "z": "259273acd6d9a928",
        "endpoint": "f4d45c2a532f8651",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 1180,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1711d9bd97cd4766",
        "type": "OpcUa-Item",
        "z": "259273acd6d9a928",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "f65899e96b8a28b5"
            ]
        ]
    },
    {
        "id": "4b794cf01815528d",
        "type": "delay",
        "z": "259273acd6d9a928",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "fa33a60c99021365"
            ]
        ]
    },
    {
        "id": "70c98dc38c330427",
        "type": "OpcUa-Client",
        "z": "259273acd6d9a928",
        "endpoint": "f4d45c2a532f8651",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "b0ea67eb67136e6c"
            ]
        ]
    },
    {
        "id": "3b76df7a3bcac18e",
        "type": "OpcUa-Item",
        "z": "259273acd6d9a928",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "70c98dc38c330427"
            ]
        ]
    },
    {
        "id": "b0ea67eb67136e6c",
        "type": "function",
        "z": "259273acd6d9a928",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "4b794cf01815528d",
                "1711d9bd97cd4766",
                "33ebb79c543e69dc"
            ]
        ]
    },
    {
        "id": "fc23e8fe23d718f4",
        "type": "status",
        "z": "259273acd6d9a928",
        "name": "",
        "scope": null,
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "33ebb79c543e69dc",
        "type": "OpcUa-Item",
        "z": "259273acd6d9a928",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "acda48f3609bd7a2"
            ]
        ]
    },
    {
        "id": "acda48f3609bd7a2",
        "type": "OpcUa-Client",
        "z": "259273acd6d9a928",
        "endpoint": "f4d45c2a532f8651",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1200,
        "y": 300,
        "wires": [
            [
                "3f9a3e84a2cec9a5"
            ]
        ]
    },
    {
        "id": "d07a8ee42105df65",
        "type": "function",
        "z": "259273acd6d9a928",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3f9a3e84a2cec9a5",
        "type": "function",
        "z": "259273acd6d9a928",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f4d45c2a532f8651",
        "type": "OpcUa-Endpoint",
        "z": "259273acd6d9a928",
        "endpoint": "opc.tcp://172.20.5.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "e407ea575a702fd9",
        "type": "subflow",
        "name": "STPLC12 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC12(drilling station).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1240,
                "y": 160,
                "wires": [
                    {
                        "id": "949ab710e82e696d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 240,
                "wires": [
                    {
                        "id": "e7cc96e3fbe5c6be",
                        "port": 0
                    }
                ]
            },
            {
                "x": 600,
                "y": 300,
                "wires": [
                    {
                        "id": "19314a02510f3c1d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1080,
            "y": 300,
            "wires": [
                {
                    "id": "893afdd73747c6dd",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "18b07c885d2384dc",
        "type": "OpcUa-Client",
        "z": "e407ea575a702fd9",
        "endpoint": "1a18da7de776ecf7",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 930,
        "y": 160,
        "wires": [
            [
                "949ab710e82e696d"
            ]
        ]
    },
    {
        "id": "02f7707f277b300c",
        "type": "OpcUa-Item",
        "z": "e407ea575a702fd9",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "18b07c885d2384dc"
            ]
        ]
    },
    {
        "id": "68422530094e8d99",
        "type": "inject",
        "z": "e407ea575a702fd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "56f12a992aa59c4d"
            ]
        ]
    },
    {
        "id": "f3e17ad7415f23d7",
        "type": "OpcUa-Client",
        "z": "e407ea575a702fd9",
        "endpoint": "1a18da7de776ecf7",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 920,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb605c5d3d02b8d",
        "type": "OpcUa-Item",
        "z": "e407ea575a702fd9",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 760,
        "y": 200,
        "wires": [
            [
                "f3e17ad7415f23d7"
            ]
        ]
    },
    {
        "id": "83e8f65f77f0850c",
        "type": "delay",
        "z": "e407ea575a702fd9",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "02f7707f277b300c"
            ]
        ]
    },
    {
        "id": "19314a02510f3c1d",
        "type": "OpcUa-Client",
        "z": "e407ea575a702fd9",
        "endpoint": "1a18da7de776ecf7",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "0e35f1c6a10b7dcb"
            ]
        ]
    },
    {
        "id": "56f12a992aa59c4d",
        "type": "OpcUa-Item",
        "z": "e407ea575a702fd9",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "19314a02510f3c1d"
            ]
        ]
    },
    {
        "id": "0e35f1c6a10b7dcb",
        "type": "function",
        "z": "e407ea575a702fd9",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "83e8f65f77f0850c",
                "5bb605c5d3d02b8d",
                "0f3fa9128152a8c8"
            ]
        ]
    },
    {
        "id": "893afdd73747c6dd",
        "type": "status",
        "z": "e407ea575a702fd9",
        "name": "",
        "scope": null,
        "x": 960,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0f3fa9128152a8c8",
        "type": "OpcUa-Item",
        "z": "e407ea575a702fd9",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 760,
        "y": 240,
        "wires": [
            [
                "1922cda9695b6484"
            ]
        ]
    },
    {
        "id": "1922cda9695b6484",
        "type": "OpcUa-Client",
        "z": "e407ea575a702fd9",
        "endpoint": "1a18da7de776ecf7",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "e7cc96e3fbe5c6be"
            ]
        ]
    },
    {
        "id": "949ab710e82e696d",
        "type": "function",
        "z": "e407ea575a702fd9",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e7cc96e3fbe5c6be",
        "type": "function",
        "z": "e407ea575a702fd9",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1140,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1a18da7de776ecf7",
        "type": "OpcUa-Endpoint",
        "z": "e407ea575a702fd9",
        "endpoint": "opc.tcp://172.20.16.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "239085725ddeedc4",
        "type": "subflow",
        "name": "STPLC11 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC11(top cover mount).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1540,
                "y": 160,
                "wires": [
                    {
                        "id": "e17eee3672328fa4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1540,
                "y": 240,
                "wires": [
                    {
                        "id": "828ca19a0364ed21",
                        "port": 0
                    }
                ]
            },
            {
                "x": 880,
                "y": 300,
                "wires": [
                    {
                        "id": "f2f2a3fc02555dcd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1360,
            "y": 300,
            "wires": [
                {
                    "id": "98d545461b9501d8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "d27f42f9d5ca5742",
        "type": "OpcUa-Client",
        "z": "239085725ddeedc4",
        "endpoint": "f24bacfadcb63399",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 1210,
        "y": 160,
        "wires": [
            [
                "e17eee3672328fa4"
            ]
        ]
    },
    {
        "id": "8b7a7c3bc70dcd43",
        "type": "OpcUa-Item",
        "z": "239085725ddeedc4",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 1040,
        "y": 160,
        "wires": [
            [
                "d27f42f9d5ca5742"
            ]
        ]
    },
    {
        "id": "4b0d52d0f6532e0e",
        "type": "inject",
        "z": "239085725ddeedc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "527ed628b4b6cc7f"
            ]
        ]
    },
    {
        "id": "7ffd86c2cf01740c",
        "type": "OpcUa-Client",
        "z": "239085725ddeedc4",
        "endpoint": "f24bacfadcb63399",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 1200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3c13a80a7d6525f5",
        "type": "OpcUa-Item",
        "z": "239085725ddeedc4",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "7ffd86c2cf01740c"
            ]
        ]
    },
    {
        "id": "911503d1cce3ad43",
        "type": "delay",
        "z": "239085725ddeedc4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "8b7a7c3bc70dcd43"
            ]
        ]
    },
    {
        "id": "f2f2a3fc02555dcd",
        "type": "OpcUa-Client",
        "z": "239085725ddeedc4",
        "endpoint": "f24bacfadcb63399",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "c715c89df3ebcea7"
            ]
        ]
    },
    {
        "id": "527ed628b4b6cc7f",
        "type": "OpcUa-Item",
        "z": "239085725ddeedc4",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "f2f2a3fc02555dcd"
            ]
        ]
    },
    {
        "id": "c715c89df3ebcea7",
        "type": "function",
        "z": "239085725ddeedc4",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "911503d1cce3ad43",
                "3c13a80a7d6525f5",
                "af219821a5d89536"
            ]
        ]
    },
    {
        "id": "98d545461b9501d8",
        "type": "status",
        "z": "239085725ddeedc4",
        "name": "",
        "scope": null,
        "x": 1240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "af219821a5d89536",
        "type": "OpcUa-Item",
        "z": "239085725ddeedc4",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "9947d62da3f714ef"
            ]
        ]
    },
    {
        "id": "9947d62da3f714ef",
        "type": "OpcUa-Client",
        "z": "239085725ddeedc4",
        "endpoint": "f24bacfadcb63399",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1220,
        "y": 240,
        "wires": [
            [
                "828ca19a0364ed21"
            ]
        ]
    },
    {
        "id": "e17eee3672328fa4",
        "type": "function",
        "z": "239085725ddeedc4",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "828ca19a0364ed21",
        "type": "function",
        "z": "239085725ddeedc4",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f24bacfadcb63399",
        "type": "OpcUa-Endpoint",
        "z": "239085725ddeedc4",
        "endpoint": "opc.tcp://172.20.11.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "84b522093981e2fc",
        "type": "subflow",
        "name": "STPLC09 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC09(manual handling station).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1440,
                "y": 160,
                "wires": [
                    {
                        "id": "ce2062b1d9a56aa8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1440,
                "y": 240,
                "wires": [
                    {
                        "id": "632acc604790fe3c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 280,
                "wires": [
                    {
                        "id": "45741a278d3ded86",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1260,
            "y": 300,
            "wires": [
                {
                    "id": "c76056950a88ad32",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "7c51cd1f3e2bf6dc",
        "type": "OpcUa-Client",
        "z": "84b522093981e2fc",
        "endpoint": "ad1813fe.06fc8",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "ce2062b1d9a56aa8"
            ]
        ]
    },
    {
        "id": "b9429d5c2c3ac437",
        "type": "OpcUa-Item",
        "z": "84b522093981e2fc",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "7c51cd1f3e2bf6dc"
            ]
        ]
    },
    {
        "id": "093abbb91cdaa810",
        "type": "inject",
        "z": "84b522093981e2fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "bc3ad1a6dcada29d"
            ]
        ]
    },
    {
        "id": "70e5839c2d2d5720",
        "type": "OpcUa-Client",
        "z": "84b522093981e2fc",
        "endpoint": "ad1813fe.06fc8",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 1120,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a0060fb7706737f3",
        "type": "OpcUa-Item",
        "z": "84b522093981e2fc",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 960,
        "y": 200,
        "wires": [
            [
                "70e5839c2d2d5720"
            ]
        ]
    },
    {
        "id": "76e098234ef7bed3",
        "type": "delay",
        "z": "84b522093981e2fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 160,
        "wires": [
            [
                "b9429d5c2c3ac437"
            ]
        ]
    },
    {
        "id": "45741a278d3ded86",
        "type": "OpcUa-Client",
        "z": "84b522093981e2fc",
        "endpoint": "ad1813fe.06fc8",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "32d55bb820a9cb33"
            ]
        ]
    },
    {
        "id": "bc3ad1a6dcada29d",
        "type": "OpcUa-Item",
        "z": "84b522093981e2fc",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "45741a278d3ded86"
            ]
        ]
    },
    {
        "id": "32d55bb820a9cb33",
        "type": "function",
        "z": "84b522093981e2fc",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "76e098234ef7bed3",
                "a0060fb7706737f3",
                "7d7307c9b8128788"
            ]
        ]
    },
    {
        "id": "c76056950a88ad32",
        "type": "status",
        "z": "84b522093981e2fc",
        "name": "",
        "scope": null,
        "x": 1140,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7d7307c9b8128788",
        "type": "OpcUa-Item",
        "z": "84b522093981e2fc",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 960,
        "y": 240,
        "wires": [
            [
                "fb1b838e33f65c6e"
            ]
        ]
    },
    {
        "id": "fb1b838e33f65c6e",
        "type": "OpcUa-Client",
        "z": "84b522093981e2fc",
        "endpoint": "553b83f1.8ede4c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "632acc604790fe3c"
            ]
        ]
    },
    {
        "id": "632acc604790fe3c",
        "type": "function",
        "z": "84b522093981e2fc",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1320,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ce2062b1d9a56aa8",
        "type": "function",
        "z": "84b522093981e2fc",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1320,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ad1813fe.06fc8",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://172.20.13.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "74c3b3b0f2fe717a",
        "type": "subflow",
        "name": "STPLC08 (3)",
        "info": "This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC08(manual packing station).",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1440,
                "y": 60,
                "wires": [
                    {
                        "id": "244c3aaff4a4808a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1440,
                "y": 140,
                "wires": [
                    {
                        "id": "cc8acc2ca9868dd0",
                        "port": 0
                    }
                ]
            },
            {
                "x": 740,
                "y": 200,
                "wires": [
                    {
                        "id": "f22d12eeae803d0a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 1240,
            "y": 200,
            "wires": [
                {
                    "id": "a2cb94871173839b",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2f545fdc0d01f872",
        "type": "OpcUa-Client",
        "z": "74c3b3b0f2fe717a",
        "endpoint": "553b83f1.8ede4c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "SUBSCRIBE",
        "x": 1090,
        "y": 60,
        "wires": [
            [
                "244c3aaff4a4808a"
            ]
        ]
    },
    {
        "id": "83544330bed12213",
        "type": "OpcUa-Item",
        "z": "74c3b3b0f2fe717a",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID",
        "datatype": "UInt16",
        "value": "",
        "name": "",
        "x": 920,
        "y": 60,
        "wires": [
            [
                "2f545fdc0d01f872"
            ]
        ]
    },
    {
        "id": "7d7b14ea7e5f3725",
        "type": "inject",
        "z": "74c3b3b0f2fe717a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "a99cf5aef2087b65"
            ]
        ]
    },
    {
        "id": "fdda14235843ec50",
        "type": "OpcUa-Client",
        "z": "74c3b3b0f2fe717a",
        "endpoint": "553b83f1.8ede4c",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "WRITE",
        "x": 1080,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "385dbf34b743dc8f",
        "type": "OpcUa-Item",
        "z": "74c3b3b0f2fe717a",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid",
        "datatype": "Boolean",
        "value": "True",
        "name": "",
        "x": 920,
        "y": 100,
        "wires": [
            [
                "fdda14235843ec50"
            ]
        ]
    },
    {
        "id": "3b5f08c8181ee1e3",
        "type": "delay",
        "z": "74c3b3b0f2fe717a",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 60,
        "wires": [
            [
                "83544330bed12213"
            ]
        ]
    },
    {
        "id": "f22d12eeae803d0a",
        "type": "OpcUa-Client",
        "z": "74c3b3b0f2fe717a",
        "endpoint": "553b83f1.8ede4c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "2f0b202d99f073c0"
            ]
        ]
    },
    {
        "id": "a99cf5aef2087b65",
        "type": "OpcUa-Item",
        "z": "74c3b3b0f2fe717a",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable",
        "datatype": "Boolean",
        "value": "",
        "name": "CheckStopper",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "f22d12eeae803d0a"
            ]
        ]
    },
    {
        "id": "2f0b202d99f073c0",
        "type": "function",
        "z": "74c3b3b0f2fe717a",
        "name": "CheckForPallet",
        "func": "if(msg.payload == true){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "3b5f08c8181ee1e3",
                "385dbf34b743dc8f",
                "4cf130af9a36ee53"
            ]
        ]
    },
    {
        "id": "a2cb94871173839b",
        "type": "status",
        "z": "74c3b3b0f2fe717a",
        "name": "",
        "scope": null,
        "x": 1120,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4cf130af9a36ee53",
        "type": "OpcUa-Item",
        "z": "74c3b3b0f2fe717a",
        "item": "ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter",
        "datatype": "UInt16",
        "value": "",
        "name": "PalletCounter",
        "x": 920,
        "y": 140,
        "wires": [
            [
                "3bdf7effb3d469d8"
            ]
        ]
    },
    {
        "id": "3bdf7effb3d469d8",
        "type": "OpcUa-Client",
        "z": "74c3b3b0f2fe717a",
        "endpoint": "553b83f1.8ede4c",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 1100,
        "y": 140,
        "wires": [
            [
                "cc8acc2ca9868dd0"
            ]
        ]
    },
    {
        "id": "244c3aaff4a4808a",
        "type": "function",
        "z": "74c3b3b0f2fe717a",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cc8acc2ca9868dd0",
        "type": "function",
        "z": "74c3b3b0f2fe717a",
        "name": "Sort msgs",
        "func": "\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)",
        "finalize": "",
        "x": 1300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "553b83f1.8ede4c",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://172.20.1.1:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "331014fd3e089edc",
        "type": "subflow",
        "name": "PLC_data",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "b0702edf6fbbd5b0",
        "type": "subflow:74c3b3b0f2fe717a",
        "z": "331014fd3e089edc",
        "name": "",
        "env": [],
        "x": 200,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ],
        "outputLabels": [
            "palletID",
            "palletCheck",
            ""
        ]
    },
    {
        "id": "a42440cbc789c0bc",
        "type": "subflow:84b522093981e2fc",
        "z": "331014fd3e089edc",
        "name": "",
        "env": [],
        "x": 200,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ],
        "outputLabels": [
            "palletID",
            "palletCheck"
        ]
    },
    {
        "id": "be209501c2003338",
        "type": "subflow:239085725ddeedc4",
        "z": "331014fd3e089edc",
        "name": "",
        "x": 200,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f4774a51123d10d3",
        "type": "subflow:e407ea575a702fd9",
        "z": "331014fd3e089edc",
        "name": "",
        "x": 200,
        "y": 260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "717fd9c3b65e6c78",
        "type": "subflow:259273acd6d9a928",
        "z": "331014fd3e089edc",
        "name": "",
        "x": 200,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8ad8f04326fb4922",
        "type": "subflow:707698cfe542b56c",
        "z": "331014fd3e089edc",
        "name": "",
        "x": 200,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "73ceaa0167fba946",
        "type": "subflow:140ebf9494923060",
        "z": "331014fd3e089edc",
        "name": "",
        "x": 200,
        "y": 500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a75f5ee5cfe84314",
        "type": "subflow:12cc7b9140e91930",
        "z": "331014fd3e089edc",
        "name": "",
        "x": 200,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "69d331698faf1e77",
        "type": "subflow",
        "name": "IMU",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 760,
                "y": 80,
                "wires": [
                    {
                        "id": "c0137d151bdcb3f9",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 120,
                "wires": [
                    {
                        "id": "c2d5c424ff923e34",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 160,
                "wires": [
                    {
                        "id": "d2bd6e1f2be97a45",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 320,
                "wires": [
                    {
                        "id": "2db2a9de4c598909",
                        "port": 0
                    },
                    {
                        "id": "65983a53a23f11a6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e774d702ffe5d9b6",
        "type": "influxdb in",
        "z": "69d331698faf1e77",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM accelerationx WHERE time > now()-10m\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "c0137d151bdcb3f9",
                "b8ef2595d9508fed",
                "65983a53a23f11a6"
            ]
        ]
    },
    {
        "id": "c0137d151bdcb3f9",
        "type": "function",
        "z": "69d331698faf1e77",
        "name": "",
        "func": "msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8bd8d7dad062feb1",
        "type": "influxdb in",
        "z": "69d331698faf1e77",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM accelerationy WHERE time > now()-10m\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "c2d5c424ff923e34",
                "c9afe5dffbeeebce",
                "65983a53a23f11a6"
            ]
        ]
    },
    {
        "id": "8e77ebfa2449ad55",
        "type": "influxdb in",
        "z": "69d331698faf1e77",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM accelerationz WHERE time > now()-10m\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "d2bd6e1f2be97a45",
                "3e437884287b143d",
                "65983a53a23f11a6"
            ]
        ]
    },
    {
        "id": "c2d5c424ff923e34",
        "type": "function",
        "z": "69d331698faf1e77",
        "name": "",
        "func": "msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d2bd6e1f2be97a45",
        "type": "function",
        "z": "69d331698faf1e77",
        "name": "",
        "func": "msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "677e7a7ee7f88889",
        "type": "inject",
        "z": "69d331698faf1e77",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "e774d702ffe5d9b6",
                "8bd8d7dad062feb1",
                "8e77ebfa2449ad55"
            ]
        ]
    },
    {
        "id": "2db2a9de4c598909",
        "type": "function",
        "z": "69d331698faf1e77",
        "d": true,
        "name": "",
        "func": "var series = [\"acceleration\"];\nvar data = [];\nvar labels = [\"x\", \"y\", \"z\"];\n\nfor(var i = 0, len = msg.accx.length; i < len; i++){\n  data.push({x: msg.accx[i].time, y: msg.accx[i].value},\n            {x: msg.accy[i].time, y: msg.accy[i].value},\n            {x: msg.accz[i].time, y: msg.accz[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b8ef2595d9508fed",
        "type": "change",
        "z": "69d331698faf1e77",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "accx",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "2db2a9de4c598909"
            ]
        ]
    },
    {
        "id": "c9afe5dffbeeebce",
        "type": "change",
        "z": "69d331698faf1e77",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "accy",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "2db2a9de4c598909"
            ]
        ]
    },
    {
        "id": "3e437884287b143d",
        "type": "change",
        "z": "69d331698faf1e77",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "accz",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "2db2a9de4c598909"
            ]
        ]
    },
    {
        "id": "65983a53a23f11a6",
        "type": "join",
        "z": "69d331698faf1e77",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9eaf17d262a12f",
        "type": "tab",
        "label": "InfluxDB to Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5f67b46ec6ac632c",
        "type": "group",
        "z": "1f9eaf17d262a12f",
        "name": "Light Sensor Data",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "c127cfe2f4531aa8",
            "f61269535df9c4ee",
            "770d4375d2aae7bd",
            "121e88e36181ad1d",
            "2ff9da8763ec0877",
            "3686a784935f839b",
            "7dcb85ede51799b6"
        ],
        "x": 294,
        "y": 39,
        "w": 692,
        "h": 222
    },
    {
        "id": "62c6732b5be75f8e",
        "type": "group",
        "z": "1f9eaf17d262a12f",
        "name": "IMU Sensor Data",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "bbc00f0eb094df77",
            "9fcf0d147121c142",
            "d4afe363cb28fb61",
            "63581cac46dda94c",
            "208e5ca31d4cb76f",
            "8d0341a7ba7f2315"
        ],
        "x": 294,
        "y": 819,
        "w": 572,
        "h": 242
    },
    {
        "id": "a9dae33a9520de82",
        "type": "group",
        "z": "1f9eaf17d262a12f",
        "name": "Temperature Sensor Data",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "0fc2eb4da1f3f9d8",
            "ef8d76edbda17d6a",
            "fcc26c72bc521995",
            "83a927dab34d3131"
        ],
        "x": 294,
        "y": 279,
        "w": 672,
        "h": 142
    },
    {
        "id": "b75eb49c025dd655",
        "type": "group",
        "z": "1f9eaf17d262a12f",
        "name": "Humidity Sensor Data",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "36b4d7e29dd4bc2d",
            "7f3436d0960eccb8",
            "8033fc6ae587edd1",
            "dd2f72b7df1338b5"
        ],
        "x": 294,
        "y": 439,
        "w": 692,
        "h": 142
    },
    {
        "id": "d5324faf27e6a3d2",
        "type": "group",
        "z": "1f9eaf17d262a12f",
        "name": "Festo data from PLC",
        "style": {
            "fill": "#dbcbe7",
            "label": true
        },
        "nodes": [
            "5d2199791e145c5c"
        ],
        "x": 34,
        "y": 699,
        "w": 172,
        "h": 82
    },
    {
        "id": "f8a2730cc6279843",
        "type": "group",
        "z": "1f9eaf17d262a12f",
        "name": "Detection Sensor Data",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "5fe7e5ab361501f5",
            "d6b6211f88f3547f",
            "e7a5fa2cae435a3e",
            "b9a2ab8acd9ef564",
            "a62a4395f9e8e332",
            "e75a8ad859475481",
            "4452c5eb387d9b9c"
        ],
        "x": 294,
        "y": 599,
        "w": 752,
        "h": 202
    },
    {
        "id": "c127cfe2f4531aa8",
        "type": "influxdb in",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM light WHERE time > now()-10m\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "121e88e36181ad1d"
            ]
        ]
    },
    {
        "id": "2a2bd3f66a931ded",
        "type": "inject",
        "z": "1f9eaf17d262a12f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "c127cfe2f4531aa8",
                "2ff9da8763ec0877",
                "0fc2eb4da1f3f9d8",
                "36b4d7e29dd4bc2d",
                "5fe7e5ab361501f5"
            ]
        ]
    },
    {
        "id": "f61269535df9c4ee",
        "type": "debug",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "770d4375d2aae7bd",
        "type": "ui_chart",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "name": "",
        "group": "6a2e18a5ff545f5e",
        "order": 2,
        "width": "20",
        "height": "6",
        "label": "Light Intensity over time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e6ff29",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 850,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "121e88e36181ad1d",
        "type": "function",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "name": "compute series data",
        "func": "var series = [\"light\"];\nvar data = [];\nvar labels = [\"brightness\"];\n\nfor(var i = 0, len = msg.payload.length; i < len; i++){\n  data.push({x: msg.payload[i].time, y: msg.payload[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 160,
        "wires": [
            [
                "770d4375d2aae7bd",
                "f61269535df9c4ee"
            ]
        ]
    },
    {
        "id": "0fc2eb4da1f3f9d8",
        "type": "influxdb in",
        "z": "1f9eaf17d262a12f",
        "g": "a9dae33a9520de82",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM temperature WHERE time > now()-10m\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "83a927dab34d3131"
            ]
        ]
    },
    {
        "id": "ef8d76edbda17d6a",
        "type": "debug",
        "z": "1f9eaf17d262a12f",
        "g": "a9dae33a9520de82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 380,
        "wires": []
    },
    {
        "id": "fcc26c72bc521995",
        "type": "ui_chart",
        "z": "1f9eaf17d262a12f",
        "g": "a9dae33a9520de82",
        "name": "",
        "group": "1986eae3dd63ce86",
        "order": 2,
        "width": "20",
        "height": "6",
        "label": "Temperature over time",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 840,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "83a927dab34d3131",
        "type": "function",
        "z": "1f9eaf17d262a12f",
        "g": "a9dae33a9520de82",
        "name": "compute series data",
        "func": "var series = [\"temperature\"];\nvar data = [];\nvar labels = [\"Temp in Celsius\"];\n\nfor(var i = 0, len = msg.payload.length; i < len; i++){\n  data.push({x: msg.payload[i].time, y: msg.payload[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "fcc26c72bc521995",
                "ef8d76edbda17d6a"
            ]
        ]
    },
    {
        "id": "36b4d7e29dd4bc2d",
        "type": "influxdb in",
        "z": "1f9eaf17d262a12f",
        "g": "b75eb49c025dd655",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM humidity WHERE time > now()-10m\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "dd2f72b7df1338b5"
            ]
        ]
    },
    {
        "id": "7f3436d0960eccb8",
        "type": "debug",
        "z": "1f9eaf17d262a12f",
        "g": "b75eb49c025dd655",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "8033fc6ae587edd1",
        "type": "ui_chart",
        "z": "1f9eaf17d262a12f",
        "g": "b75eb49c025dd655",
        "name": "",
        "group": "d260d4694b9c40a0",
        "order": 2,
        "width": "20",
        "height": "6",
        "label": "Humidity over time",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "10000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 830,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "dd2f72b7df1338b5",
        "type": "function",
        "z": "1f9eaf17d262a12f",
        "g": "b75eb49c025dd655",
        "name": "compute series data",
        "func": "var series = [\"humidity\"];\nvar data = [];\nvar labels = [\"STPLC_01\"];\n\nfor(var i = 0, len = msg.payload.length; i < len; i++){\n  data.push({x: msg.payload[i].time, y: msg.payload[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "7f3436d0960eccb8",
                "8033fc6ae587edd1"
            ]
        ]
    },
    {
        "id": "2ff9da8763ec0877",
        "type": "influxdb in",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM light WHERE time > now()-2s\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "7dcb85ede51799b6"
            ]
        ]
    },
    {
        "id": "3686a784935f839b",
        "type": "ui_gauge",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "name": "light_intensity",
        "group": "30e73cb92cd5c949",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "7dcb85ede51799b6",
        "type": "function",
        "z": "1f9eaf17d262a12f",
        "g": "5f67b46ec6ac632c",
        "name": "",
        "func": "msg.payload = [msg.payload[0].value];\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "3686a784935f839b"
            ]
        ]
    },
    {
        "id": "5fe7e5ab361501f5",
        "type": "influxdb in",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "influxdb": "5ecb4dc3.6713a4",
        "name": "Influxdb",
        "query": "SELECT * FROM detection WHERE time > now()-3s\n",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "my-org",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "b9a2ab8acd9ef564"
            ]
        ]
    },
    {
        "id": "d6b6211f88f3547f",
        "type": "ui_led",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "order": 0,
        "group": "ede1182b0ee46313",
        "width": 0,
        "height": 0,
        "label": "Object moved on",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "3",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 640,
        "wires": []
    },
    {
        "id": "e7a5fa2cae435a3e",
        "type": "debug",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "b9a2ab8acd9ef564",
        "type": "function",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "name": "",
        "func": "msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 660,
        "wires": [
            [
                "d6b6211f88f3547f",
                "a62a4395f9e8e332",
                "e75a8ad859475481",
                "4452c5eb387d9b9c",
                "e7a5fa2cae435a3e"
            ]
        ]
    },
    {
        "id": "a62a4395f9e8e332",
        "type": "ui_led",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "order": 0,
        "group": "ede1182b0ee46313",
        "width": 0,
        "height": 0,
        "label": "Object detected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "3",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "e75a8ad859475481",
        "type": "ui_led",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "order": 0,
        "group": "ede1182b0ee46313",
        "width": 0,
        "height": 0,
        "label": "Object still here",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "3",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 720,
        "wires": []
    },
    {
        "id": "4452c5eb387d9b9c",
        "type": "ui_led",
        "z": "1f9eaf17d262a12f",
        "g": "f8a2730cc6279843",
        "order": 0,
        "group": "ede1182b0ee46313",
        "width": 0,
        "height": 0,
        "label": "No object",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "2",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "3",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 970,
        "y": 760,
        "wires": []
    },
    {
        "id": "bbc00f0eb094df77",
        "type": "ui_text",
        "z": "1f9eaf17d262a12f",
        "g": "62c6732b5be75f8e",
        "group": "d1a3274125444aac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "X-axis",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "9fcf0d147121c142",
        "type": "ui_text",
        "z": "1f9eaf17d262a12f",
        "g": "62c6732b5be75f8e",
        "group": "d1a3274125444aac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Y-axis",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 790,
        "y": 900,
        "wires": []
    },
    {
        "id": "d4afe363cb28fb61",
        "type": "ui_text",
        "z": "1f9eaf17d262a12f",
        "g": "62c6732b5be75f8e",
        "group": "d1a3274125444aac",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Z-axis",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "63581cac46dda94c",
        "type": "subflow:69d331698faf1e77",
        "z": "1f9eaf17d262a12f",
        "g": "62c6732b5be75f8e",
        "name": "IMU",
        "env": [],
        "x": 370,
        "y": 920,
        "wires": [
            [
                "bbc00f0eb094df77"
            ],
            [
                "9fcf0d147121c142"
            ],
            [
                "d4afe363cb28fb61"
            ],
            [
                "8d0341a7ba7f2315",
                "208e5ca31d4cb76f"
            ]
        ]
    },
    {
        "id": "208e5ca31d4cb76f",
        "type": "ui_chart",
        "z": "1f9eaf17d262a12f",
        "g": "62c6732b5be75f8e",
        "name": "",
        "group": "7b24afea46b8dc91",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Gyro chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0341a7ba7f2315",
        "type": "debug",
        "z": "1f9eaf17d262a12f",
        "g": "62c6732b5be75f8e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "complete",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5d2199791e145c5c",
        "type": "subflow:331014fd3e089edc",
        "z": "1f9eaf17d262a12f",
        "g": "d5324faf27e6a3d2",
        "name": "",
        "env": [],
        "x": 120,
        "y": 740,
        "wires": []
    },
    {
        "id": "5ecb4dc3.6713a4",
        "type": "influxdb",
        "hostname": "172.20.66.5",
        "port": "8086",
        "protocol": "http",
        "database": "FestoSensors",
        "name": "smartProdLab",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "6a2e18a5ff545f5e",
        "type": "ui_group",
        "name": "Light",
        "tab": "46ca46da0a88831e",
        "order": 5,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "1986eae3dd63ce86",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "46ca46da0a88831e",
        "order": 6,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "d260d4694b9c40a0",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "46ca46da0a88831e",
        "order": 7,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "30e73cb92cd5c949",
        "type": "ui_group",
        "name": "Light(Live)",
        "tab": "46ca46da0a88831e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ede1182b0ee46313",
        "type": "ui_group",
        "name": "Linetracker",
        "tab": "46ca46da0a88831e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d1a3274125444aac",
        "type": "ui_group",
        "name": "IMU(live)",
        "tab": "46ca46da0a88831e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7b24afea46b8dc91",
        "type": "ui_group",
        "name": "IMU",
        "tab": "46ca46da0a88831e",
        "order": 9,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "46ca46da0a88831e",
        "type": "ui_tab",
        "name": "Festo Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]