Code/rpi_flow_new.json
[{"id":"9fa2dbbf.623288","type":"subflow","name":"STPLC01 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC01(branch module).","category":"","in":[],"out":[{"x":1240,"y":220,"wires":[{"id":"bec2d34.9ca853","port":0}]},{"x":1240,"y":300,"wires":[{"id":"13f6b794.f96d68","port":0}]},{"x":580,"y":360,"wires":[{"id":"76b674.7490298c","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":360,"wires":[{"id":"b48e88e7.706e38","port":0}]}},{"id":"1afb95c1.1e1c3a","type":"OpcUa-Client","z":"9fa2dbbf.623288","endpoint":"300cb67c.47709a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":220,"wires":[["bec2d34.9ca853"]]},{"id":"b890c2b7.efc08","type":"OpcUa-Item","z":"9fa2dbbf.623288","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":220,"wires":[["1afb95c1.1e1c3a"]]},{"id":"9f41267a.b4fef8","type":"inject","z":"9fa2dbbf.623288","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":360,"wires":[["3b8f10bb.e9138"]]},{"id":"c2f3dbca.8165b8","type":"OpcUa-Client","z":"9fa2dbbf.623288","endpoint":"300cb67c.47709a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":260,"wires":[[]]},{"id":"5fa7ed72.d9de24","type":"OpcUa-Item","z":"9fa2dbbf.623288","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":260,"wires":[["c2f3dbca.8165b8"]]},{"id":"666bc48c.73071c","type":"delay","z":"9fa2dbbf.623288","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["b890c2b7.efc08"]]},{"id":"76b674.7490298c","type":"OpcUa-Client","z":"9fa2dbbf.623288","endpoint":"300cb67c.47709a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":360,"wires":[["fc93858e.d7e9d8"]]},{"id":"3b8f10bb.e9138","type":"OpcUa-Item","z":"9fa2dbbf.623288","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":360,"wires":[["76b674.7490298c"]]},{"id":"fc93858e.d7e9d8","type":"function","z":"9fa2dbbf.623288","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["666bc48c.73071c","5fa7ed72.d9de24","40246a11.326244"]]},{"id":"b48e88e7.706e38","type":"status","z":"9fa2dbbf.623288","name":"","scope":null,"x":960,"y":360,"wires":[[]]},{"id":"40246a11.326244","type":"OpcUa-Item","z":"9fa2dbbf.623288","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":300,"wires":[["d21c444d.9b9da8"]]},{"id":"d21c444d.9b9da8","type":"OpcUa-Client","z":"9fa2dbbf.623288","endpoint":"300cb67c.47709a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":300,"wires":[["13f6b794.f96d68"]]},{"id":"bec2d34.9ca853","type":"function","z":"9fa2dbbf.623288","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":220,"wires":[[]]},{"id":"13f6b794.f96d68","type":"function","z":"9fa2dbbf.623288","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"300cb67c.47709a","type":"OpcUa-Endpoint","z":"9fa2dbbf.623288","endpoint":"opc.tcp://172.20.8.1:4840","secpol":"None","secmode":"None","login":false},{"id":"8d16a8fc.396d28","type":"subflow","name":"STPLC10 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC10(Bottom cover feeder).","category":"","in":[],"out":[{"x":1240,"y":220,"wires":[{"id":"5469bbec.3cbcd4","port":0}]},{"x":1240,"y":300,"wires":[{"id":"7832ca11.08ffb4","port":0}]},{"x":580,"y":360,"wires":[{"id":"3c4c98d1.726fc8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":360,"wires":[{"id":"eb7ae6c9.f01fe8","port":0}]}},{"id":"df2bd38e.835e7","type":"OpcUa-Client","z":"8d16a8fc.396d28","endpoint":"4278f7e6.2dba08","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":220,"wires":[["5469bbec.3cbcd4"]]},{"id":"290e5fcc.7dacb","type":"OpcUa-Item","z":"8d16a8fc.396d28","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":220,"wires":[["df2bd38e.835e7"]]},{"id":"5fd93354.99aedc","type":"inject","z":"8d16a8fc.396d28","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":360,"wires":[["9504b309.5cf79"]]},{"id":"f2bb9108.e6d24","type":"OpcUa-Client","z":"8d16a8fc.396d28","endpoint":"4278f7e6.2dba08","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":260,"wires":[[]]},{"id":"792b31a9.1a5fc","type":"OpcUa-Item","z":"8d16a8fc.396d28","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":260,"wires":[["f2bb9108.e6d24"]]},{"id":"2d30dd4e.133f92","type":"delay","z":"8d16a8fc.396d28","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["290e5fcc.7dacb"]]},{"id":"3c4c98d1.726fc8","type":"OpcUa-Client","z":"8d16a8fc.396d28","endpoint":"4278f7e6.2dba08","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":360,"wires":[["1a93df68.9cac91"]]},{"id":"9504b309.5cf79","type":"OpcUa-Item","z":"8d16a8fc.396d28","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":360,"wires":[["3c4c98d1.726fc8"]]},{"id":"1a93df68.9cac91","type":"function","z":"8d16a8fc.396d28","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["2d30dd4e.133f92","792b31a9.1a5fc","85baa8e9.221868"]]},{"id":"eb7ae6c9.f01fe8","type":"status","z":"8d16a8fc.396d28","name":"","scope":null,"x":960,"y":360,"wires":[[]]},{"id":"85baa8e9.221868","type":"OpcUa-Item","z":"8d16a8fc.396d28","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":300,"wires":[["241bd096.93381"]]},{"id":"241bd096.93381","type":"OpcUa-Client","z":"8d16a8fc.396d28","endpoint":"4278f7e6.2dba08","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":300,"wires":[["7832ca11.08ffb4"]]},{"id":"5469bbec.3cbcd4","type":"function","z":"8d16a8fc.396d28","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":220,"wires":[[]]},{"id":"7832ca11.08ffb4","type":"function","z":"8d16a8fc.396d28","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"4278f7e6.2dba08","type":"OpcUa-Endpoint","z":"8d16a8fc.396d28","endpoint":"opc.tcp://172.20.3.1:4840","secpol":"None","secmode":"None","login":false},{"id":"9c95ea55.866238","type":"subflow","name":"STPLC14 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC14(robot cell/PCB mounting).","category":"","in":[],"out":[{"x":1240,"y":180,"wires":[{"id":"6d9a4aae.1ebda4","port":0}]},{"x":1240,"y":260,"wires":[{"id":"e19394f6.f11838","port":0}]},{"x":580,"y":320,"wires":[{"id":"6015600b.f24cc","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":320,"wires":[{"id":"511782e4.93324c","port":0}]}},{"id":"7a2f46ad.6e1378","type":"OpcUa-Client","z":"9c95ea55.866238","endpoint":"5495ec4e.6e9404","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":180,"wires":[["6d9a4aae.1ebda4"]]},{"id":"29263657.4e51ba","type":"OpcUa-Item","z":"9c95ea55.866238","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":180,"wires":[["7a2f46ad.6e1378"]]},{"id":"4c19583e.d3e938","type":"inject","z":"9c95ea55.866238","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":320,"wires":[["b6ec3ada.9eea48"]]},{"id":"534c746d.93049c","type":"OpcUa-Client","z":"9c95ea55.866238","endpoint":"5495ec4e.6e9404","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":220,"wires":[[]]},{"id":"de6fbf82.96c91","type":"OpcUa-Item","z":"9c95ea55.866238","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":220,"wires":[["534c746d.93049c"]]},{"id":"bbd3dc6e.24ce6","type":"delay","z":"9c95ea55.866238","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["29263657.4e51ba"]]},{"id":"6015600b.f24cc","type":"OpcUa-Client","z":"9c95ea55.866238","endpoint":"5495ec4e.6e9404","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":320,"wires":[["96098c82.4b707"]]},{"id":"b6ec3ada.9eea48","type":"OpcUa-Item","z":"9c95ea55.866238","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":320,"wires":[["6015600b.f24cc"]]},{"id":"96098c82.4b707","type":"function","z":"9c95ea55.866238","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["bbd3dc6e.24ce6","de6fbf82.96c91","cc3cba16.797318"]]},{"id":"511782e4.93324c","type":"status","z":"9c95ea55.866238","name":"","scope":null,"x":960,"y":320,"wires":[[]]},{"id":"cc3cba16.797318","type":"OpcUa-Item","z":"9c95ea55.866238","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":260,"wires":[["f760c6d4.a00038"]]},{"id":"f760c6d4.a00038","type":"OpcUa-Client","z":"9c95ea55.866238","endpoint":"5495ec4e.6e9404","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":260,"wires":[["e19394f6.f11838"]]},{"id":"6d9a4aae.1ebda4","type":"function","z":"9c95ea55.866238","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","libs":[],"x":1140,"y":180,"wires":[[]]},{"id":"e19394f6.f11838","type":"function","z":"9c95ea55.866238","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","libs":[],"x":1140,"y":260,"wires":[[]]},{"id":"5495ec4e.6e9404","type":"OpcUa-Endpoint","z":"9c95ea55.866238","endpoint":"opc.tcp://172.20.4.1:4840","secpol":"None","secmode":"None","login":false},{"id":"b3776c75.5a1ae","type":"subflow","name":"STPLC13 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC13(quality inspection).","category":"","in":[],"out":[{"x":1500,"y":220,"wires":[{"id":"562c33e1.ff47fc","port":0}]},{"x":1500,"y":300,"wires":[{"id":"6105b7f1.de5738","port":0}]},{"x":860,"y":360,"wires":[{"id":"f4283fd5.a0368","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1360,"y":360,"wires":[{"id":"ffe0e122.27aab","port":0}]}},{"id":"4e60d12.da44d3","type":"OpcUa-Client","z":"b3776c75.5a1ae","endpoint":"6bf492fa.c70fcc","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1190,"y":220,"wires":[["562c33e1.ff47fc"]]},{"id":"4dce3d52.29ddd4","type":"OpcUa-Item","z":"b3776c75.5a1ae","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":1020,"y":220,"wires":[["4e60d12.da44d3"]]},{"id":"b83521e2.82352","type":"inject","z":"b3776c75.5a1ae","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":360,"wires":[["e76acc81.21553"]]},{"id":"51f87948.b445d8","type":"OpcUa-Client","z":"b3776c75.5a1ae","endpoint":"6bf492fa.c70fcc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1180,"y":260,"wires":[[]]},{"id":"4d24df4a.86c14","type":"OpcUa-Item","z":"b3776c75.5a1ae","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":1020,"y":260,"wires":[["51f87948.b445d8"]]},{"id":"53c6c09e.e10b","type":"delay","z":"b3776c75.5a1ae","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["4dce3d52.29ddd4"]]},{"id":"f4283fd5.a0368","type":"OpcUa-Client","z":"b3776c75.5a1ae","endpoint":"6bf492fa.c70fcc","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":700,"y":360,"wires":[["8999df36.2cb21"]]},{"id":"e76acc81.21553","type":"OpcUa-Item","z":"b3776c75.5a1ae","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":510,"y":360,"wires":[["f4283fd5.a0368"]]},{"id":"8999df36.2cb21","type":"function","z":"b3776c75.5a1ae","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":240,"wires":[["53c6c09e.e10b","4d24df4a.86c14","6930bc3f.2a4194"]]},{"id":"ffe0e122.27aab","type":"status","z":"b3776c75.5a1ae","name":"","scope":null,"x":1220,"y":360,"wires":[[]]},{"id":"6930bc3f.2a4194","type":"OpcUa-Item","z":"b3776c75.5a1ae","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":1020,"y":300,"wires":[["cfb666b2.fd2b48"]]},{"id":"cfb666b2.fd2b48","type":"OpcUa-Client","z":"b3776c75.5a1ae","endpoint":"6bf492fa.c70fcc","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1200,"y":300,"wires":[["6105b7f1.de5738"]]},{"id":"562c33e1.ff47fc","type":"function","z":"b3776c75.5a1ae","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1400,"y":220,"wires":[[]]},{"id":"6105b7f1.de5738","type":"function","z":"b3776c75.5a1ae","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1400,"y":300,"wires":[[]]},{"id":"6bf492fa.c70fcc","type":"OpcUa-Endpoint","z":"b3776c75.5a1ae","endpoint":"opc.tcp://172.20.5.1:4840","secpol":"None","secmode":"None","login":false},{"id":"81d7e118.1f346","type":"subflow","name":"STPLC12 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC12(drilling station).","category":"","in":[],"out":[{"x":1240,"y":160,"wires":[{"id":"9874bcb1.3691f","port":0}]},{"x":1240,"y":240,"wires":[{"id":"7a5db5ae.b116ac","port":0}]},{"x":600,"y":300,"wires":[{"id":"92735dda.81eba","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":300,"wires":[{"id":"cb3d2f5d.94b5","port":0}]}},{"id":"29181a3d.39f326","type":"OpcUa-Client","z":"81d7e118.1f346","endpoint":"4d89e2e6.837e0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":160,"wires":[["9874bcb1.3691f"]]},{"id":"d9b11323.7f84c","type":"OpcUa-Item","z":"81d7e118.1f346","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":160,"wires":[["29181a3d.39f326"]]},{"id":"64b31328.d0118c","type":"inject","z":"81d7e118.1f346","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":300,"wires":[["bde8a356.b835"]]},{"id":"f4576092.b624a","type":"OpcUa-Client","z":"81d7e118.1f346","endpoint":"4d89e2e6.837e0c","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":200,"wires":[[]]},{"id":"fbd9b6d6.7f4088","type":"OpcUa-Item","z":"81d7e118.1f346","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":200,"wires":[["f4576092.b624a"]]},{"id":"84a0fb16.d7b458","type":"delay","z":"81d7e118.1f346","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["d9b11323.7f84c"]]},{"id":"92735dda.81eba","type":"OpcUa-Client","z":"81d7e118.1f346","endpoint":"4d89e2e6.837e0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":300,"wires":[["d87a47ef.eae2b8"]]},{"id":"bde8a356.b835","type":"OpcUa-Item","z":"81d7e118.1f346","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":300,"wires":[["92735dda.81eba"]]},{"id":"d87a47ef.eae2b8","type":"function","z":"81d7e118.1f346","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["84a0fb16.d7b458","fbd9b6d6.7f4088","c655dbaa.5f1f38"]]},{"id":"cb3d2f5d.94b5","type":"status","z":"81d7e118.1f346","name":"","scope":null,"x":960,"y":300,"wires":[[]]},{"id":"c655dbaa.5f1f38","type":"OpcUa-Item","z":"81d7e118.1f346","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":240,"wires":[["15745631.23d42a"]]},{"id":"15745631.23d42a","type":"OpcUa-Client","z":"81d7e118.1f346","endpoint":"4d89e2e6.837e0c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":240,"wires":[["7a5db5ae.b116ac"]]},{"id":"9874bcb1.3691f","type":"function","z":"81d7e118.1f346","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":160,"wires":[[]]},{"id":"7a5db5ae.b116ac","type":"function","z":"81d7e118.1f346","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":240,"wires":[[]]},{"id":"4d89e2e6.837e0c","type":"OpcUa-Endpoint","z":"81d7e118.1f346","endpoint":"opc.tcp://172.20.16.1:4840","secpol":"None","secmode":"None","login":false},{"id":"e147d0d6.fef88","type":"subflow","name":"STPLC11 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC11(top cover mount).","category":"","in":[],"out":[{"x":1540,"y":160,"wires":[{"id":"b4de746a.f1ffb8","port":0}]},{"x":1540,"y":240,"wires":[{"id":"27225884.78ff68","port":0}]},{"x":880,"y":300,"wires":[{"id":"fb947ae5.b00548","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1360,"y":300,"wires":[{"id":"2ef40c5a.713944","port":0}]}},{"id":"9c1032fc.d685a","type":"OpcUa-Client","z":"e147d0d6.fef88","endpoint":"33a4122c.7f3e1e","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1210,"y":160,"wires":[["b4de746a.f1ffb8"]]},{"id":"fbf5163b.75cfb8","type":"OpcUa-Item","z":"e147d0d6.fef88","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":1040,"y":160,"wires":[["9c1032fc.d685a"]]},{"id":"af6f1f91.64a21","type":"inject","z":"e147d0d6.fef88","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":300,"wires":[["13550612.8be5aa"]]},{"id":"a779d9e8.207a78","type":"OpcUa-Client","z":"e147d0d6.fef88","endpoint":"33a4122c.7f3e1e","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1200,"y":200,"wires":[[]]},{"id":"694f1ec3.4a6a","type":"OpcUa-Item","z":"e147d0d6.fef88","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":1040,"y":200,"wires":[["a779d9e8.207a78"]]},{"id":"e00eec5c.908a","type":"delay","z":"e147d0d6.fef88","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":160,"wires":[["fbf5163b.75cfb8"]]},{"id":"fb947ae5.b00548","type":"OpcUa-Client","z":"e147d0d6.fef88","endpoint":"33a4122c.7f3e1e","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":720,"y":300,"wires":[["11711df4.4eb9a2"]]},{"id":"13550612.8be5aa","type":"OpcUa-Item","z":"e147d0d6.fef88","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":530,"y":300,"wires":[["fb947ae5.b00548"]]},{"id":"11711df4.4eb9a2","type":"function","z":"e147d0d6.fef88","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["e00eec5c.908a","694f1ec3.4a6a","53a154d8.f5141c"]]},{"id":"2ef40c5a.713944","type":"status","z":"e147d0d6.fef88","name":"","scope":null,"x":1240,"y":300,"wires":[[]]},{"id":"53a154d8.f5141c","type":"OpcUa-Item","z":"e147d0d6.fef88","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":1040,"y":240,"wires":[["d22c0f5f.20a6b"]]},{"id":"d22c0f5f.20a6b","type":"OpcUa-Client","z":"e147d0d6.fef88","endpoint":"33a4122c.7f3e1e","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1220,"y":240,"wires":[["27225884.78ff68"]]},{"id":"b4de746a.f1ffb8","type":"function","z":"e147d0d6.fef88","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1420,"y":160,"wires":[[]]},{"id":"27225884.78ff68","type":"function","z":"e147d0d6.fef88","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1420,"y":240,"wires":[[]]},{"id":"33a4122c.7f3e1e","type":"OpcUa-Endpoint","z":"e147d0d6.fef88","endpoint":"opc.tcp://172.20.11.1:4840","secpol":"None","secmode":"None","login":false},{"id":"7c24a6b6.3188d8","type":"subflow","name":"STPLC09 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC09(manual handling station).","category":"","in":[],"out":[{"x":1440,"y":160,"wires":[{"id":"5b45e8d6.0a25a8","port":0}]},{"x":1440,"y":240,"wires":[{"id":"c7b289bd.3fc858","port":0}]},{"x":780,"y":280,"wires":[{"id":"5665541.0e61dac","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1260,"y":300,"wires":[{"id":"2ec4472a.d9f108","port":0}]}},{"id":"b5da164c.970c88","type":"OpcUa-Client","z":"7c24a6b6.3188d8","endpoint":"4bf6ca6c.6a14a4","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1130,"y":160,"wires":[["5b45e8d6.0a25a8"]]},{"id":"32ea4140.f1a36e","type":"OpcUa-Item","z":"7c24a6b6.3188d8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":960,"y":160,"wires":[["b5da164c.970c88"]]},{"id":"24e4f0b.fa68d1","type":"inject","z":"7c24a6b6.3188d8","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":280,"wires":[["7b34ed29.695394"]]},{"id":"627384a6.4cb1ec","type":"OpcUa-Client","z":"7c24a6b6.3188d8","endpoint":"4bf6ca6c.6a14a4","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1120,"y":200,"wires":[[]]},{"id":"4f4f685f.95d878","type":"OpcUa-Item","z":"7c24a6b6.3188d8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":960,"y":200,"wires":[["627384a6.4cb1ec"]]},{"id":"ea208b8e.4ec368","type":"delay","z":"7c24a6b6.3188d8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":160,"wires":[["32ea4140.f1a36e"]]},{"id":"5665541.0e61dac","type":"OpcUa-Client","z":"7c24a6b6.3188d8","endpoint":"4bf6ca6c.6a14a4","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":640,"y":280,"wires":[["c0f4ad7d.8b5f9"]]},{"id":"7b34ed29.695394","type":"OpcUa-Item","z":"7c24a6b6.3188d8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":450,"y":280,"wires":[["5665541.0e61dac"]]},{"id":"c0f4ad7d.8b5f9","type":"function","z":"7c24a6b6.3188d8","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["ea208b8e.4ec368","4f4f685f.95d878","ef74f402.995d88"]]},{"id":"2ec4472a.d9f108","type":"status","z":"7c24a6b6.3188d8","name":"","scope":null,"x":1140,"y":300,"wires":[[]]},{"id":"ef74f402.995d88","type":"OpcUa-Item","z":"7c24a6b6.3188d8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":960,"y":240,"wires":[["f645cc6f.f3f97"]]},{"id":"f645cc6f.f3f97","type":"OpcUa-Client","z":"7c24a6b6.3188d8","endpoint":"c16cd772.baf938","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1140,"y":240,"wires":[["c7b289bd.3fc858"]]},{"id":"c7b289bd.3fc858","type":"function","z":"7c24a6b6.3188d8","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1320,"y":240,"wires":[[]]},{"id":"5b45e8d6.0a25a8","type":"function","z":"7c24a6b6.3188d8","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1320,"y":160,"wires":[[]]},{"id":"4bf6ca6c.6a14a4","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.20.13.1:4840","secpol":"None","secmode":"None","login":false},{"id":"75d538d8.d86f78","type":"subflow","name":"STPLC08 (2)","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC08(manual packing station).","category":"","in":[],"out":[{"x":1440,"y":60,"wires":[{"id":"5e9ea497.1a1b1c","port":0}]},{"x":1440,"y":140,"wires":[{"id":"58d2af35.d1cf2","port":0}]},{"x":740,"y":200,"wires":[{"id":"1aef450f.31b15b","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1240,"y":200,"wires":[{"id":"2ba80cdf.f2e1f4","port":0}]}},{"id":"6bfc5bee.aaed74","type":"OpcUa-Client","z":"75d538d8.d86f78","endpoint":"c16cd772.baf938","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1090,"y":60,"wires":[["5e9ea497.1a1b1c"]]},{"id":"8ad3e71.207cd18","type":"OpcUa-Item","z":"75d538d8.d86f78","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":920,"y":60,"wires":[["6bfc5bee.aaed74"]]},{"id":"faff5f33.6116a","type":"inject","z":"75d538d8.d86f78","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["9a4c9d46.97f8c"]]},{"id":"b695f889.d92bb8","type":"OpcUa-Client","z":"75d538d8.d86f78","endpoint":"c16cd772.baf938","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1080,"y":100,"wires":[[]]},{"id":"be73bde4.7404c","type":"OpcUa-Item","z":"75d538d8.d86f78","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":920,"y":100,"wires":[["b695f889.d92bb8"]]},{"id":"23bae657.9593da","type":"delay","z":"75d538d8.d86f78","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":60,"wires":[["8ad3e71.207cd18"]]},{"id":"1aef450f.31b15b","type":"OpcUa-Client","z":"75d538d8.d86f78","endpoint":"c16cd772.baf938","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":600,"y":200,"wires":[["de6bf6bd.b27108"]]},{"id":"9a4c9d46.97f8c","type":"OpcUa-Item","z":"75d538d8.d86f78","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":410,"y":200,"wires":[["1aef450f.31b15b"]]},{"id":"de6bf6bd.b27108","type":"function","z":"75d538d8.d86f78","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["23bae657.9593da","be73bde4.7404c","897bc8f9.e71518"]]},{"id":"2ba80cdf.f2e1f4","type":"status","z":"75d538d8.d86f78","name":"","scope":null,"x":1120,"y":200,"wires":[[]]},{"id":"897bc8f9.e71518","type":"OpcUa-Item","z":"75d538d8.d86f78","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":920,"y":140,"wires":[["9cd93a7c.7884e8"]]},{"id":"9cd93a7c.7884e8","type":"OpcUa-Client","z":"75d538d8.d86f78","endpoint":"c16cd772.baf938","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1100,"y":140,"wires":[["58d2af35.d1cf2"]]},{"id":"5e9ea497.1a1b1c","type":"function","z":"75d538d8.d86f78","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","libs":[],"x":1300,"y":60,"wires":[[]]},{"id":"58d2af35.d1cf2","type":"function","z":"75d538d8.d86f78","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","libs":[],"x":1300,"y":140,"wires":[[]]},{"id":"c16cd772.baf938","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.20.1.1:4840","secpol":"None","secmode":"None","login":false},{"id":"5986f090.a68bf","type":"subflow","name":"ESP08","info":"","category":"","in":[],"out":[{"x":160,"y":30,"wires":[{"id":"b29e0a6f.7d9798","port":0}]},{"x":215,"y":30,"wires":[{"id":"1647c0dc.3c329f","port":0}]},{"x":270,"y":30,"wires":[{"id":"cc260331.07bb8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":325,"y":30,"wires":[{"id":"b29e0a6f.7d9798","port":0},{"id":"1647c0dc.3c329f","port":0},{"id":"cc260331.07bb8","port":0}]}},{"id":"b29e0a6f.7d9798","type":"mqtt in","z":"5986f090.a68bf","name":"","topic":"ESP08/sound","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":350,"y":100,"wires":[["c970ca45.071968"]]},{"id":"c970ca45.071968","type":"influxdb out","z":"5986f090.a68bf","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP08/sound","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":100,"wires":[]},{"id":"1647c0dc.3c329f","type":"mqtt in","z":"5986f090.a68bf","name":"","topic":"ESP08/temperature","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":370,"y":140,"wires":[["25653c84.eaf014"]]},{"id":"712ae55c.c9d5cc","type":"influxdb out","z":"5986f090.a68bf","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP08/temperature","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":140,"wires":[]},{"id":"25653c84.eaf014","type":"function","z":"5986f090.a68bf","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":140,"wires":[["712ae55c.c9d5cc"]]},{"id":"cc260331.07bb8","type":"mqtt in","z":"5986f090.a68bf","name":"","topic":"ESP08/humidity","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":360,"y":180,"wires":[["e088253f.c57a48"]]},{"id":"b37d18b4.c92a08","type":"influxdb out","z":"5986f090.a68bf","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP08/humidity","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":180,"wires":[]},{"id":"e088253f.c57a48","type":"function","z":"5986f090.a68bf","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["b37d18b4.c92a08"]]},{"id":"17b9a6fc.49dfb9","type":"subflow","name":"ESP06","info":"","category":"","in":[],"out":[{"x":160,"y":30,"wires":[{"id":"7e542154.9fc46","port":0}]},{"x":215,"y":30,"wires":[{"id":"79d698c8.8d4c58","port":0}]},{"x":270,"y":30,"wires":[{"id":"3522c7cf.cdb808","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":325,"y":30,"wires":[{"id":"7e542154.9fc46","port":0},{"id":"79d698c8.8d4c58","port":0},{"id":"3522c7cf.cdb808","port":0}]}},{"id":"7e542154.9fc46","type":"mqtt in","z":"17b9a6fc.49dfb9","name":"","topic":"ESP06/sound","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":290,"y":140,"wires":[["63812615.75a978"]]},{"id":"63812615.75a978","type":"influxdb out","z":"17b9a6fc.49dfb9","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP06/sound","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":140,"wires":[]},{"id":"79d698c8.8d4c58","type":"mqtt in","z":"17b9a6fc.49dfb9","name":"","topic":"ESP06/temperature","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":310,"y":180,"wires":[["8aa11d57.5ff6a"]]},{"id":"5802de85.52d7f","type":"influxdb out","z":"17b9a6fc.49dfb9","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP06/temperature","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":180,"wires":[]},{"id":"8aa11d57.5ff6a","type":"function","z":"17b9a6fc.49dfb9","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":180,"wires":[["5802de85.52d7f"]]},{"id":"3522c7cf.cdb808","type":"mqtt in","z":"17b9a6fc.49dfb9","name":"","topic":"ESP06/humidity","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":300,"y":220,"wires":[["c29c569d.5f40c8"]]},{"id":"751b8b8a.874904","type":"influxdb out","z":"17b9a6fc.49dfb9","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP06/humidity","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":220,"wires":[]},{"id":"c29c569d.5f40c8","type":"function","z":"17b9a6fc.49dfb9","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":220,"wires":[["751b8b8a.874904"]]},{"id":"120e7eeb.4c02a1","type":"subflow","name":"ESP04","info":"","category":"","in":[],"out":[{"x":160,"y":30,"wires":[{"id":"1bc30822.199ec8","port":0}]},{"x":215,"y":30,"wires":[{"id":"e037e6d8.c8a338","port":0}]},{"x":270,"y":30,"wires":[{"id":"323fe0d9.4f673","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":325,"y":30,"wires":[{"id":"1bc30822.199ec8","port":0},{"id":"e037e6d8.c8a338","port":0},{"id":"323fe0d9.4f673","port":0}]}},{"id":"1bc30822.199ec8","type":"mqtt in","z":"120e7eeb.4c02a1","name":"","topic":"ESP04/sound","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":350,"y":100,"wires":[["97a0c57c.ab0e38"]]},{"id":"97a0c57c.ab0e38","type":"influxdb out","z":"120e7eeb.4c02a1","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP04/sound","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":100,"wires":[]},{"id":"e037e6d8.c8a338","type":"mqtt in","z":"120e7eeb.4c02a1","name":"","topic":"ESP04/temperature","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":370,"y":140,"wires":[["8fc5cf77.442b4"]]},{"id":"d49bcb46.450a58","type":"influxdb out","z":"120e7eeb.4c02a1","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP04/temperature","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":140,"wires":[]},{"id":"8fc5cf77.442b4","type":"function","z":"120e7eeb.4c02a1","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":140,"wires":[["d49bcb46.450a58"]]},{"id":"323fe0d9.4f673","type":"mqtt in","z":"120e7eeb.4c02a1","name":"","topic":"ESP04/humidity","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":360,"y":180,"wires":[["296df743.ed8208"]]},{"id":"bad92bc5.5f64a8","type":"influxdb out","z":"120e7eeb.4c02a1","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP04/humidity","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":180,"wires":[]},{"id":"296df743.ed8208","type":"function","z":"120e7eeb.4c02a1","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["bad92bc5.5f64a8"]]},{"id":"e8a3df3e.ac27a","type":"subflow","name":"ESP02","info":"","category":"","in":[],"out":[{"x":160,"y":30,"wires":[{"id":"eac07cd0.1ea63","port":0}]},{"x":215,"y":30,"wires":[{"id":"89440899.0f20a8","port":0}]},{"x":270,"y":30,"wires":[{"id":"6e9f08bd.549d68","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":325,"y":30,"wires":[{"id":"eac07cd0.1ea63","port":0},{"id":"89440899.0f20a8","port":0},{"id":"6e9f08bd.549d68","port":0}]}},{"id":"eac07cd0.1ea63","type":"mqtt in","z":"e8a3df3e.ac27a","name":"","topic":"ESP02/sound","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":290,"y":100,"wires":[["4d46429e.fe7aac"]]},{"id":"4d46429e.fe7aac","type":"influxdb out","z":"e8a3df3e.ac27a","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP02/sound","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":100,"wires":[]},{"id":"89440899.0f20a8","type":"mqtt in","z":"e8a3df3e.ac27a","name":"","topic":"ESP02/temperature","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":310,"y":140,"wires":[["dbc00085.94206"]]},{"id":"1033b497.ff7e0b","type":"influxdb out","z":"e8a3df3e.ac27a","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP02/temperature","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":140,"wires":[]},{"id":"dbc00085.94206","type":"function","z":"e8a3df3e.ac27a","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":140,"wires":[["1033b497.ff7e0b"]]},{"id":"6e9f08bd.549d68","type":"mqtt in","z":"e8a3df3e.ac27a","name":"","topic":"ESP02/humidity","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":300,"y":180,"wires":[["3b5e8ea7.c75852"]]},{"id":"640e908.bc1977","type":"influxdb out","z":"e8a3df3e.ac27a","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP02/humidity","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":700,"y":180,"wires":[]},{"id":"3b5e8ea7.c75852","type":"function","z":"e8a3df3e.ac27a","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":180,"wires":[["640e908.bc1977"]]},{"id":"5da55c32.dd4014","type":"subflow","name":"ESP07","info":"","category":"","in":[],"out":[{"x":160,"y":30,"wires":[{"id":"d0f7fb6c.5277f8","port":0}]},{"x":215,"y":30,"wires":[{"id":"ae768d5f.addae","port":0}]},{"x":270,"y":30,"wires":[{"id":"23b99883.7fc438","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":325,"y":30,"wires":[{"id":"d0f7fb6c.5277f8","port":0},{"id":"ae768d5f.addae","port":0},{"id":"23b99883.7fc438","port":0}]}},{"id":"d0f7fb6c.5277f8","type":"mqtt in","z":"5da55c32.dd4014","name":"","topic":"ESP07/lightsensor","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":330,"y":140,"wires":[["56b1dbe6.c62c24"]]},{"id":"57697f00.15a04","type":"influxdb out","z":"5da55c32.dd4014","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP07/light","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":140,"wires":[]},{"id":"56b1dbe6.c62c24","type":"function","z":"5da55c32.dd4014","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":140,"wires":[["57697f00.15a04"]]},{"id":"ae768d5f.addae","type":"mqtt in","z":"5da55c32.dd4014","name":"","topic":"ESP07/detection","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":320,"y":200,"wires":[["c16e9799.7bcaa8"]]},{"id":"a38680b6.dfce","type":"influxdb out","z":"5da55c32.dd4014","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP07/detection","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":200,"wires":[]},{"id":"c16e9799.7bcaa8","type":"function","z":"5da55c32.dd4014","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["a38680b6.dfce"]]},{"id":"23b99883.7fc438","type":"mqtt in","z":"5da55c32.dd4014","name":"","topic":"ESP07/imu","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":300,"y":260,"wires":[["7f4d1119.e3dbd","9af09cfb.88f73"]]},{"id":"6bd0f112.a34de","type":"influxdb out","z":"5da55c32.dd4014","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP07/acceleration","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":260,"wires":[]},{"id":"982c0da0.f2542","type":"influxdb out","z":"5da55c32.dd4014","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP07/gyroscope","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":320,"wires":[]},{"id":"7f4d1119.e3dbd","type":"function","z":"5da55c32.dd4014","name":"acceleration","func":"msg.payload = {x: msg.payload.acceleration[0], y: msg.payload.acceleration[1], z: msg.payload.acceleration[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["6bd0f112.a34de"]]},{"id":"9af09cfb.88f73","type":"function","z":"5da55c32.dd4014","name":"gyroscope","func":"msg.payload = {x: msg.payload.gyroscope[0], y: msg.payload.gyroscope[1], z: msg.payload.gyroscope[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":320,"wires":[["982c0da0.f2542"]]},{"id":"6e010cc6.490094","type":"subflow","name":"ESP05","info":"","category":"","in":[],"out":[{"x":160,"y":30,"wires":[{"id":"93ff3acd.f386c8","port":0}]},{"x":215,"y":30,"wires":[{"id":"88a84672.d8d868","port":0}]},{"x":270,"y":30,"wires":[{"id":"b7cc3677.4493b8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":325,"y":30,"wires":[{"id":"93ff3acd.f386c8","port":0},{"id":"88a84672.d8d868","port":0},{"id":"b7cc3677.4493b8","port":0}]}},{"id":"93ff3acd.f386c8","type":"mqtt in","z":"6e010cc6.490094","name":"","topic":"ESP05/lightsensor","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":350,"y":160,"wires":[["1c710645.b3850a"]]},{"id":"ade9d8a0.813708","type":"influxdb out","z":"6e010cc6.490094","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP05/light","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":730,"y":160,"wires":[]},{"id":"1c710645.b3850a","type":"function","z":"6e010cc6.490094","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":160,"wires":[["ade9d8a0.813708"]]},{"id":"88a84672.d8d868","type":"mqtt in","z":"6e010cc6.490094","name":"","topic":"ESP05/detection","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":340,"y":220,"wires":[["e9387808.4ba5a8"]]},{"id":"658a27e3.40d108","type":"influxdb out","z":"6e010cc6.490094","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP05/detection","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":760,"y":220,"wires":[]},{"id":"e9387808.4ba5a8","type":"function","z":"6e010cc6.490094","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":220,"wires":[["658a27e3.40d108"]]},{"id":"b7cc3677.4493b8","type":"mqtt in","z":"6e010cc6.490094","name":"","topic":"ESP05/imu","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":320,"y":280,"wires":[["6a9ca553.c2624c","8cc74b6.f00f9b8"]]},{"id":"fba62d4a.a8f29","type":"influxdb out","z":"6e010cc6.490094","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP05/acceleration","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":280,"wires":[]},{"id":"38ac96ea.54ab1a","type":"influxdb out","z":"6e010cc6.490094","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP05/gyroscope","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":360,"wires":[]},{"id":"6a9ca553.c2624c","type":"function","z":"6e010cc6.490094","name":"acceleration","func":"msg.payload = {x: msg.payload.acceleration[0], y: msg.payload.acceleration[1], z: msg.payload.acceleration[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":280,"wires":[["fba62d4a.a8f29"]]},{"id":"8cc74b6.f00f9b8","type":"function","z":"6e010cc6.490094","name":"gyroscope","func":"msg.payload = {x: msg.payload.gyroscope[0], y: msg.payload.gyroscope[1], z: msg.payload.gyroscope[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":360,"wires":[["38ac96ea.54ab1a"]]},{"id":"a7ebdd88.e23aa","type":"subflow","name":"ESP03","info":"","category":"","in":[],"out":[{"x":760,"y":400,"wires":[{"id":"163a4afa.502c15","port":0}]},{"x":760,"y":440,"wires":[{"id":"e810fc25.c289e","port":0}]},{"x":760,"y":480,"wires":[{"id":"1990ce90.aff921","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":620,"y":60,"wires":[{"id":"163a4afa.502c15","port":0},{"id":"e810fc25.c289e","port":0},{"id":"1990ce90.aff921","port":0}]}},{"id":"163a4afa.502c15","type":"mqtt in","z":"a7ebdd88.e23aa","name":"","topic":"ESP03/lightsensor","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":330,"y":160,"wires":[["519c031d.59f4ec"]]},{"id":"ab59cf39.71498","type":"influxdb out","z":"a7ebdd88.e23aa","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP03/light","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":160,"wires":[]},{"id":"519c031d.59f4ec","type":"function","z":"a7ebdd88.e23aa","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":160,"wires":[["ab59cf39.71498"]]},{"id":"e810fc25.c289e","type":"mqtt in","z":"a7ebdd88.e23aa","name":"","topic":"ESP03/detection","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":320,"y":220,"wires":[["e8c42d6c.e1282"]]},{"id":"b6b0081e.c2a7a8","type":"influxdb out","z":"a7ebdd88.e23aa","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP03/detection","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":740,"y":220,"wires":[]},{"id":"e8c42d6c.e1282","type":"function","z":"a7ebdd88.e23aa","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["b6b0081e.c2a7a8"]]},{"id":"1990ce90.aff921","type":"mqtt in","z":"a7ebdd88.e23aa","name":"","topic":"ESP03/imu","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":300,"y":280,"wires":[["9163e3e4.61f1b","5143c721.95f948"]]},{"id":"30c9a384.09a7ec","type":"influxdb out","z":"a7ebdd88.e23aa","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP03/acceleration","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":280,"wires":[]},{"id":"5053daf2.c4f2d4","type":"influxdb out","z":"a7ebdd88.e23aa","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP03/gyroscope","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":720,"y":360,"wires":[]},{"id":"9163e3e4.61f1b","type":"function","z":"a7ebdd88.e23aa","name":"acceleration","func":"msg.payload = {x: msg.payload.acceleration[0], y: msg.payload.acceleration[1], z: msg.payload.acceleration[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":280,"wires":[["30c9a384.09a7ec"]]},{"id":"5143c721.95f948","type":"function","z":"a7ebdd88.e23aa","name":"gyroscope","func":"msg.payload = {x: msg.payload.gyroscope[0], y: msg.payload.gyroscope[1], z: msg.payload.gyroscope[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":360,"wires":[["5053daf2.c4f2d4"]]},{"id":"ae601a04.3b0ae8","type":"subflow","name":"ESP01","info":"","category":"","in":[],"out":[{"x":700,"y":480,"wires":[{"id":"1ea78d57.46e813","port":0}]},{"x":700,"y":520,"wires":[{"id":"2c602eae.ec2002","port":0}]},{"x":700,"y":560,"wires":[{"id":"3a9326bf.5e6f7a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","status":{"x":680,"y":140,"wires":[{"id":"1ea78d57.46e813","port":0},{"id":"2c602eae.ec2002","port":0},{"id":"3a9326bf.5e6f7a","port":0}]}},{"id":"1ea78d57.46e813","type":"mqtt in","z":"ae601a04.3b0ae8","name":"","topic":"ESP01/lightsensor","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":270,"y":240,"wires":[["bf72be9e.51a42"]]},{"id":"eeddc0bc.45415","type":"influxdb out","z":"ae601a04.3b0ae8","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP01/light","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":650,"y":240,"wires":[]},{"id":"bf72be9e.51a42","type":"function","z":"ae601a04.3b0ae8","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["eeddc0bc.45415"]]},{"id":"2c602eae.ec2002","type":"mqtt in","z":"ae601a04.3b0ae8","name":"","topic":"ESP01/detection","qos":"2","datatype":"auto","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":260,"y":300,"wires":[["de6642a0.19a6c"]]},{"id":"bdfa2250.e591b","type":"influxdb out","z":"ae601a04.3b0ae8","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP01/detection","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":680,"y":300,"wires":[]},{"id":"de6642a0.19a6c","type":"function","z":"ae601a04.3b0ae8","name":"adding location","func":"msg.payload = {\n    location: 'STPLC_01',\n    value: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["bdfa2250.e591b"]]},{"id":"3a9326bf.5e6f7a","type":"mqtt in","z":"ae601a04.3b0ae8","name":"","topic":"ESP01/imu","qos":"2","datatype":"json","broker":"d80dae17.2efaf8","nl":false,"rap":true,"rh":0,"x":240,"y":360,"wires":[["86b0881e.8bf918","500eb37c.17d07c"]]},{"id":"6eceb7e0.593dd8","type":"influxdb out","z":"ae601a04.3b0ae8","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP01/acceleration","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":360,"wires":[]},{"id":"89277fbb.6c625","type":"influxdb out","z":"ae601a04.3b0ae8","influxdb":"7394c556.01e0bc","name":"influxdb","measurement":"ESP01/gyroscope","precision":"","retentionPolicy":"","database":"FestoSensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":660,"y":440,"wires":[]},{"id":"86b0881e.8bf918","type":"function","z":"ae601a04.3b0ae8","name":"acceleration","func":"msg.payload = {x: msg.payload.acceleration[0], y: msg.payload.acceleration[1], z: msg.payload.acceleration[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["6eceb7e0.593dd8"]]},{"id":"500eb37c.17d07c","type":"function","z":"ae601a04.3b0ae8","name":"gyroscope","func":"msg.payload = {x: msg.payload.gyroscope[0], y: msg.payload.gyroscope[1], z: msg.payload.gyroscope[2]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["89277fbb.6c625"]]},{"id":"d80dae17.2efaf8","type":"mqtt-broker","name":"test","broker":"172.20.66.5","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7394c556.01e0bc","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"testSensors","name":"database","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://172.20.66.5:8086","rejectUnauthorized":true},{"id":"1bf50a64.0d2dc6","type":"tab","label":"RPI_flow","disabled":false,"info":""},{"id":"b01bc01b.b37ab","type":"subflow:ae601a04.3b0ae8","z":"1bf50a64.0d2dc6","name":"","env":[],"x":190,"y":100,"wires":[[],[],[]],"outputLabels":["light","detection","imu"]},{"id":"e90f17b5.de1e08","type":"subflow:a7ebdd88.e23aa","z":"1bf50a64.0d2dc6","name":"","env":[],"x":190,"y":160,"wires":[[],[],[]],"outputLabels":["light","detection","imu"]},{"id":"7ffb2f1d.f381b","type":"subflow:6e010cc6.490094","z":"1bf50a64.0d2dc6","name":"","env":[],"x":190,"y":220,"wires":[[],[],[]],"outputLabels":["light","detection","imu"]},{"id":"afd7263e.b2ef28","type":"subflow:5da55c32.dd4014","z":"1bf50a64.0d2dc6","name":"","env":[],"x":190,"y":280,"wires":[[],[],[]],"outputLabels":["light","detection","imu"]},{"id":"9503eb6b.f14318","type":"subflow:e8a3df3e.ac27a","z":"1bf50a64.0d2dc6","name":"","env":[],"x":330,"y":100,"wires":[[],[],[]],"outputLabels":["sound","temperature","humidity"]},{"id":"b205b45c.f96698","type":"subflow:120e7eeb.4c02a1","z":"1bf50a64.0d2dc6","name":"","env":[],"x":330,"y":160,"wires":[[],[],[]],"outputLabels":["sound","temperature","humidity"]},{"id":"29fb993c.033176","type":"subflow:17b9a6fc.49dfb9","z":"1bf50a64.0d2dc6","name":"","env":[],"x":330,"y":220,"wires":[[],[],[]],"outputLabels":["sound","temperature","humidity"]},{"id":"eb6309e6.10bd08","type":"subflow:5986f090.a68bf","z":"1bf50a64.0d2dc6","name":"","env":[],"x":330,"y":280,"wires":[[],[],[]],"outputLabels":["sound","temperature","humidity"]},{"id":"a055b4c8.463068","type":"subflow:75d538d8.d86f78","z":"1bf50a64.0d2dc6","name":"","env":[],"x":490,"y":100,"wires":[["6f1dd428.63d5ec"],[],[]]},{"id":"f64eae2b.b04a","type":"subflow:7c24a6b6.3188d8","z":"1bf50a64.0d2dc6","name":"","x":490,"y":160,"wires":[["37b95e5e.7b1ee2"],[],[]]},{"id":"764d1c41.360e14","type":"subflow:e147d0d6.fef88","z":"1bf50a64.0d2dc6","name":"","x":490,"y":220,"wires":[["4b4dcded.42d184"],[],[]]},{"id":"73b6ede7.f68834","type":"subflow:81d7e118.1f346","z":"1bf50a64.0d2dc6","name":"","x":490,"y":280,"wires":[["522df336.24dbfc"],[],[]]},{"id":"a4dd0d42.a91ef","type":"subflow:b3776c75.5a1ae","z":"1bf50a64.0d2dc6","name":"","x":490,"y":340,"wires":[["30b83e94.69b642"],[],[]]},{"id":"6f4cc570.df4fcc","type":"subflow:9c95ea55.866238","z":"1bf50a64.0d2dc6","name":"","env":[],"x":490,"y":400,"wires":[["3a217834.1e9d08"],[],[]]},{"id":"6a403d44.38e104","type":"subflow:8d16a8fc.396d28","z":"1bf50a64.0d2dc6","name":"","x":490,"y":460,"wires":[["27b17c5b.28cdf4"],[],[]]},{"id":"1335082d.60aff8","type":"subflow:9fa2dbbf.623288","z":"1bf50a64.0d2dc6","name":"","x":490,"y":520,"wires":[["ef276fe5.7fa32"],[],[]]},{"id":"30b83e94.69b642","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_13","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":340,"wires":[]},{"id":"3a217834.1e9d08","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_14","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":380,"wires":[]},{"id":"27b17c5b.28cdf4","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_10","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":420,"wires":[]},{"id":"ef276fe5.7fa32","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_01","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":460,"wires":[]},{"id":"522df336.24dbfc","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_12","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":300,"wires":[]},{"id":"4b4dcded.42d184","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_11","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":260,"wires":[]},{"id":"37b95e5e.7b1ee2","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_09","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":220,"wires":[]},{"id":"6f1dd428.63d5ec","type":"influxdb out","z":"1bf50a64.0d2dc6","influxdb":"3586d14.811272e","name":"influxdb","measurement":"STPLC_08","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":180,"wires":[]},{"id":"3586d14.811272e","type":"influxdb","hostname":"172.20.66.5","port":"8086","protocol":"http","database":"FestoSensors","name":"smartProdLab","usetls":false,"tls":"f9bf0e77.1deb","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"f9bf0e77.1deb","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]