Code/Org/client_flow.json
[{"id":"2faf76be.b9581a","type":"subflow","name":"STPLC01","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC01(branch module).","category":"","in":[],"out":[{"x":1240,"y":220,"wires":[{"id":"f4cbbe4e.90735","port":0}]},{"x":1240,"y":300,"wires":[{"id":"573375b6.b56a7c","port":0}]},{"x":580,"y":360,"wires":[{"id":"d0ea66bb.86e568","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":360,"wires":[{"id":"40f1c8bb.cb4888","port":0}]}},{"id":"4fa8ce1a.f952a","type":"OpcUa-Client","z":"2faf76be.b9581a","endpoint":"cf0d9bfa.c13f98","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":220,"wires":[["f4cbbe4e.90735"]]},{"id":"4ecb2e67.7eaae","type":"OpcUa-Item","z":"2faf76be.b9581a","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":220,"wires":[["4fa8ce1a.f952a"]]},{"id":"9def412.704a9c","type":"inject","z":"2faf76be.b9581a","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":360,"wires":[["69de80ad.0887e"]]},{"id":"feeef773.f72e18","type":"OpcUa-Client","z":"2faf76be.b9581a","endpoint":"cf0d9bfa.c13f98","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":260,"wires":[[]]},{"id":"624c0d2b.969fc4","type":"OpcUa-Item","z":"2faf76be.b9581a","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":260,"wires":[["feeef773.f72e18"]]},{"id":"ef0dcae7.6ff018","type":"delay","z":"2faf76be.b9581a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["4ecb2e67.7eaae"]]},{"id":"d0ea66bb.86e568","type":"OpcUa-Client","z":"2faf76be.b9581a","endpoint":"cf0d9bfa.c13f98","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":360,"wires":[["74a95b9b.c718b4"]]},{"id":"69de80ad.0887e","type":"OpcUa-Item","z":"2faf76be.b9581a","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":360,"wires":[["d0ea66bb.86e568"]]},{"id":"74a95b9b.c718b4","type":"function","z":"2faf76be.b9581a","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["ef0dcae7.6ff018","624c0d2b.969fc4","ab778b3e.b28cb8"]]},{"id":"40f1c8bb.cb4888","type":"status","z":"2faf76be.b9581a","name":"","scope":null,"x":960,"y":360,"wires":[[]]},{"id":"ab778b3e.b28cb8","type":"OpcUa-Item","z":"2faf76be.b9581a","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":300,"wires":[["78fec327.78ebcc"]]},{"id":"78fec327.78ebcc","type":"OpcUa-Client","z":"2faf76be.b9581a","endpoint":"cf0d9bfa.c13f98","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":300,"wires":[["573375b6.b56a7c"]]},{"id":"f4cbbe4e.90735","type":"function","z":"2faf76be.b9581a","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":220,"wires":[[]]},{"id":"573375b6.b56a7c","type":"function","z":"2faf76be.b9581a","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"cf0d9bfa.c13f98","type":"OpcUa-Endpoint","z":"2faf76be.b9581a","endpoint":"opc.tcp://172.20.8.1:4840","secpol":"None","secmode":"None","login":false},{"id":"2227d493.5b1d7c","type":"subflow","name":"STPLC10","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC10(Bottom cover feeder).","category":"","in":[],"out":[{"x":1240,"y":220,"wires":[{"id":"e45b2ec.672afd","port":0}]},{"x":1240,"y":300,"wires":[{"id":"7edfd2bf.75dcbc","port":0}]},{"x":580,"y":360,"wires":[{"id":"f37a470b.b2c428","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":360,"wires":[{"id":"1db37e68.843fd2","port":0}]}},{"id":"bc0ee152.8304c","type":"OpcUa-Client","z":"2227d493.5b1d7c","endpoint":"b8a681c.a9ac18","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":220,"wires":[["e45b2ec.672afd"]]},{"id":"167b3d46.a76213","type":"OpcUa-Item","z":"2227d493.5b1d7c","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":220,"wires":[["bc0ee152.8304c"]]},{"id":"4d1f83cf.86f63c","type":"inject","z":"2227d493.5b1d7c","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":360,"wires":[["a0c98363.1f25"]]},{"id":"990f8d85.3d2dc","type":"OpcUa-Client","z":"2227d493.5b1d7c","endpoint":"b8a681c.a9ac18","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":260,"wires":[[]]},{"id":"94455881.163468","type":"OpcUa-Item","z":"2227d493.5b1d7c","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":260,"wires":[["990f8d85.3d2dc"]]},{"id":"e2ec3bdf.6ae478","type":"delay","z":"2227d493.5b1d7c","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["167b3d46.a76213"]]},{"id":"f37a470b.b2c428","type":"OpcUa-Client","z":"2227d493.5b1d7c","endpoint":"b8a681c.a9ac18","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":360,"wires":[["8eaa13ba.a5523"]]},{"id":"a0c98363.1f25","type":"OpcUa-Item","z":"2227d493.5b1d7c","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":360,"wires":[["f37a470b.b2c428"]]},{"id":"8eaa13ba.a5523","type":"function","z":"2227d493.5b1d7c","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["e2ec3bdf.6ae478","94455881.163468","541f198e.b85c98"]]},{"id":"1db37e68.843fd2","type":"status","z":"2227d493.5b1d7c","name":"","scope":null,"x":960,"y":360,"wires":[[]]},{"id":"541f198e.b85c98","type":"OpcUa-Item","z":"2227d493.5b1d7c","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":300,"wires":[["2fe02ecd.68fb92"]]},{"id":"2fe02ecd.68fb92","type":"OpcUa-Client","z":"2227d493.5b1d7c","endpoint":"b8a681c.a9ac18","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":300,"wires":[["7edfd2bf.75dcbc"]]},{"id":"e45b2ec.672afd","type":"function","z":"2227d493.5b1d7c","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":220,"wires":[[]]},{"id":"7edfd2bf.75dcbc","type":"function","z":"2227d493.5b1d7c","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":300,"wires":[[]]},{"id":"b8a681c.a9ac18","type":"OpcUa-Endpoint","z":"2227d493.5b1d7c","endpoint":"opc.tcp://172.20.3.1:4840","secpol":"None","secmode":"None","login":false},{"id":"2a7d7421.4decec","type":"subflow","name":"STPLC14","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC14(robot cell/PCB mounting).","category":"","in":[],"out":[{"x":1240,"y":180,"wires":[{"id":"bb63952f.951d28","port":0}]},{"x":1240,"y":260,"wires":[{"id":"30faf834.a483f8","port":0}]},{"x":580,"y":320,"wires":[{"id":"970b16c9.843d68","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":320,"wires":[{"id":"4fdde5cb.d33a9c","port":0}]}},{"id":"6b75cf6e.b5ade","type":"OpcUa-Client","z":"2a7d7421.4decec","endpoint":"a48af6e0.74aa78","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":180,"wires":[["bb63952f.951d28"]]},{"id":"336b32e5.93e72e","type":"OpcUa-Item","z":"2a7d7421.4decec","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":180,"wires":[["6b75cf6e.b5ade"]]},{"id":"ecd3ed69.ada5d","type":"inject","z":"2a7d7421.4decec","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":320,"wires":[["bf09c4d5.e15258"]]},{"id":"906502a0.2b00e","type":"OpcUa-Client","z":"2a7d7421.4decec","endpoint":"a48af6e0.74aa78","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":220,"wires":[[]]},{"id":"b1545d9c.13c3c","type":"OpcUa-Item","z":"2a7d7421.4decec","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":220,"wires":[["906502a0.2b00e"]]},{"id":"42d296c8.84e048","type":"delay","z":"2a7d7421.4decec","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":180,"wires":[["336b32e5.93e72e"]]},{"id":"970b16c9.843d68","type":"OpcUa-Client","z":"2a7d7421.4decec","endpoint":"a48af6e0.74aa78","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":320,"wires":[["1545f87b.793698"]]},{"id":"bf09c4d5.e15258","type":"OpcUa-Item","z":"2a7d7421.4decec","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":320,"wires":[["970b16c9.843d68"]]},{"id":"1545f87b.793698","type":"function","z":"2a7d7421.4decec","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["42d296c8.84e048","b1545d9c.13c3c","beb805c8.81b238"]]},{"id":"4fdde5cb.d33a9c","type":"status","z":"2a7d7421.4decec","name":"","scope":null,"x":960,"y":320,"wires":[[]]},{"id":"beb805c8.81b238","type":"OpcUa-Item","z":"2a7d7421.4decec","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":260,"wires":[["9273c6c6.9a48e8"]]},{"id":"9273c6c6.9a48e8","type":"OpcUa-Client","z":"2a7d7421.4decec","endpoint":"a48af6e0.74aa78","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":260,"wires":[["30faf834.a483f8"]]},{"id":"bb63952f.951d28","type":"function","z":"2a7d7421.4decec","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":180,"wires":[[]]},{"id":"30faf834.a483f8","type":"function","z":"2a7d7421.4decec","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":260,"wires":[[]]},{"id":"a48af6e0.74aa78","type":"OpcUa-Endpoint","z":"2a7d7421.4decec","endpoint":"opc.tcp://172.20.4.1:4840","secpol":"None","secmode":"None","login":false},{"id":"9b0ad91a.8b09b8","type":"subflow","name":"STPLC13","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC13(quality inspection).","category":"","in":[],"out":[{"x":1500,"y":220,"wires":[{"id":"2d844536.d708aa","port":0}]},{"x":1500,"y":300,"wires":[{"id":"ed72a83a.409448","port":0}]},{"x":860,"y":360,"wires":[{"id":"9023e2c8.d9c0f","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1360,"y":360,"wires":[{"id":"91687899.515d48","port":0}]}},{"id":"2b762597.69de1a","type":"OpcUa-Client","z":"9b0ad91a.8b09b8","endpoint":"da69d10e.77b68","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1190,"y":220,"wires":[["2d844536.d708aa"]]},{"id":"8466ae68.afaef","type":"OpcUa-Item","z":"9b0ad91a.8b09b8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":1020,"y":220,"wires":[["2b762597.69de1a"]]},{"id":"e1623c9d.045f5","type":"inject","z":"9b0ad91a.8b09b8","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":360,"wires":[["1e009058.e4a13"]]},{"id":"5d141e70.c4685","type":"OpcUa-Client","z":"9b0ad91a.8b09b8","endpoint":"da69d10e.77b68","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1180,"y":260,"wires":[[]]},{"id":"563551d5.3024d","type":"OpcUa-Item","z":"9b0ad91a.8b09b8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":1020,"y":260,"wires":[["5d141e70.c4685"]]},{"id":"a2223b52.64c0a8","type":"delay","z":"9b0ad91a.8b09b8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":220,"wires":[["8466ae68.afaef"]]},{"id":"9023e2c8.d9c0f","type":"OpcUa-Client","z":"9b0ad91a.8b09b8","endpoint":"da69d10e.77b68","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":700,"y":360,"wires":[["c319e49a.b28848"]]},{"id":"1e009058.e4a13","type":"OpcUa-Item","z":"9b0ad91a.8b09b8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":510,"y":360,"wires":[["9023e2c8.d9c0f"]]},{"id":"c319e49a.b28848","type":"function","z":"9b0ad91a.8b09b8","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":240,"wires":[["a2223b52.64c0a8","563551d5.3024d","6b67ce72.c18f"]]},{"id":"91687899.515d48","type":"status","z":"9b0ad91a.8b09b8","name":"","scope":null,"x":1220,"y":360,"wires":[[]]},{"id":"6b67ce72.c18f","type":"OpcUa-Item","z":"9b0ad91a.8b09b8","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":1020,"y":300,"wires":[["dde1964f.fed9d8"]]},{"id":"dde1964f.fed9d8","type":"OpcUa-Client","z":"9b0ad91a.8b09b8","endpoint":"da69d10e.77b68","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1200,"y":300,"wires":[["ed72a83a.409448"]]},{"id":"2d844536.d708aa","type":"function","z":"9b0ad91a.8b09b8","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1400,"y":220,"wires":[[]]},{"id":"ed72a83a.409448","type":"function","z":"9b0ad91a.8b09b8","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1400,"y":300,"wires":[[]]},{"id":"da69d10e.77b68","type":"OpcUa-Endpoint","z":"9b0ad91a.8b09b8","endpoint":"opc.tcp://172.20.5.1:4840","secpol":"None","secmode":"None","login":false},{"id":"4123ae0b.31182","type":"subflow","name":"STPLC12","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC12(drilling station).","category":"","in":[],"out":[{"x":1240,"y":160,"wires":[{"id":"258be15.c88331e","port":0}]},{"x":1240,"y":240,"wires":[{"id":"3113a906.8fb536","port":0}]},{"x":600,"y":300,"wires":[{"id":"1e6a0a29.5aebe6","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1080,"y":300,"wires":[{"id":"455fea03.c87ed4","port":0}]}},{"id":"1f4648e4.eb7667","type":"OpcUa-Client","z":"4123ae0b.31182","endpoint":"94ee4712.7062c8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":930,"y":160,"wires":[["258be15.c88331e"]]},{"id":"73333b5a.294d04","type":"OpcUa-Item","z":"4123ae0b.31182","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":760,"y":160,"wires":[["1f4648e4.eb7667"]]},{"id":"57f11a77.b0ceb4","type":"inject","z":"4123ae0b.31182","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":300,"wires":[["18a08dae.a038d2"]]},{"id":"e9f8e9f.8b74818","type":"OpcUa-Client","z":"4123ae0b.31182","endpoint":"94ee4712.7062c8","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":920,"y":200,"wires":[[]]},{"id":"da4029c7.b05c18","type":"OpcUa-Item","z":"4123ae0b.31182","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":760,"y":200,"wires":[["e9f8e9f.8b74818"]]},{"id":"d0168c09.c26b8","type":"delay","z":"4123ae0b.31182","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":160,"wires":[["73333b5a.294d04"]]},{"id":"1e6a0a29.5aebe6","type":"OpcUa-Client","z":"4123ae0b.31182","endpoint":"94ee4712.7062c8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":440,"y":300,"wires":[["5c79aab6.09e2f4"]]},{"id":"18a08dae.a038d2","type":"OpcUa-Item","z":"4123ae0b.31182","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":250,"y":300,"wires":[["1e6a0a29.5aebe6"]]},{"id":"5c79aab6.09e2f4","type":"function","z":"4123ae0b.31182","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["d0168c09.c26b8","da4029c7.b05c18","b996fd41.a7cbe"]]},{"id":"455fea03.c87ed4","type":"status","z":"4123ae0b.31182","name":"","scope":null,"x":960,"y":300,"wires":[[]]},{"id":"b996fd41.a7cbe","type":"OpcUa-Item","z":"4123ae0b.31182","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":760,"y":240,"wires":[["b1ab2a9b.12dbf8"]]},{"id":"b1ab2a9b.12dbf8","type":"OpcUa-Client","z":"4123ae0b.31182","endpoint":"94ee4712.7062c8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":940,"y":240,"wires":[["3113a906.8fb536"]]},{"id":"258be15.c88331e","type":"function","z":"4123ae0b.31182","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":160,"wires":[[]]},{"id":"3113a906.8fb536","type":"function","z":"4123ae0b.31182","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1140,"y":240,"wires":[[]]},{"id":"94ee4712.7062c8","type":"OpcUa-Endpoint","z":"4123ae0b.31182","endpoint":"opc.tcp://172.20.16.1:4840","secpol":"None","secmode":"None","login":false},{"id":"76c92eec.6db03","type":"subflow","name":"STPLC11","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC11(top cover mount).","category":"","in":[],"out":[{"x":1540,"y":160,"wires":[{"id":"a7b18297.8a291","port":0}]},{"x":1540,"y":240,"wires":[{"id":"719c8d75.bd03a4","port":0}]},{"x":880,"y":300,"wires":[{"id":"2dea3255.14aa0e","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1360,"y":300,"wires":[{"id":"c580ec67.35542","port":0}]}},{"id":"17db5daa.4e58d2","type":"OpcUa-Client","z":"76c92eec.6db03","endpoint":"5b602fb7.632dc","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1210,"y":160,"wires":[["a7b18297.8a291"]]},{"id":"c0f93d44.1603d","type":"OpcUa-Item","z":"76c92eec.6db03","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":1040,"y":160,"wires":[["17db5daa.4e58d2"]]},{"id":"9c2c1a96.7ff798","type":"inject","z":"76c92eec.6db03","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":300,"wires":[["7050d801.b2d928"]]},{"id":"993e838c.3dd5a","type":"OpcUa-Client","z":"76c92eec.6db03","endpoint":"5b602fb7.632dc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1200,"y":200,"wires":[[]]},{"id":"5ae03cc0.8a6dd4","type":"OpcUa-Item","z":"76c92eec.6db03","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":1040,"y":200,"wires":[["993e838c.3dd5a"]]},{"id":"5d2b473e.8e0898","type":"delay","z":"76c92eec.6db03","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":160,"wires":[["c0f93d44.1603d"]]},{"id":"2dea3255.14aa0e","type":"OpcUa-Client","z":"76c92eec.6db03","endpoint":"5b602fb7.632dc","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":720,"y":300,"wires":[["86ad25b6.a91518"]]},{"id":"7050d801.b2d928","type":"OpcUa-Item","z":"76c92eec.6db03","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":530,"y":300,"wires":[["2dea3255.14aa0e"]]},{"id":"86ad25b6.a91518","type":"function","z":"76c92eec.6db03","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["5d2b473e.8e0898","5ae03cc0.8a6dd4","80932387.fd04c"]]},{"id":"c580ec67.35542","type":"status","z":"76c92eec.6db03","name":"","scope":null,"x":1240,"y":300,"wires":[[]]},{"id":"80932387.fd04c","type":"OpcUa-Item","z":"76c92eec.6db03","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":1040,"y":240,"wires":[["6cba3a53.e6f3f4"]]},{"id":"6cba3a53.e6f3f4","type":"OpcUa-Client","z":"76c92eec.6db03","endpoint":"5b602fb7.632dc","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1220,"y":240,"wires":[["719c8d75.bd03a4"]]},{"id":"a7b18297.8a291","type":"function","z":"76c92eec.6db03","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1420,"y":160,"wires":[[]]},{"id":"719c8d75.bd03a4","type":"function","z":"76c92eec.6db03","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1420,"y":240,"wires":[[]]},{"id":"5b602fb7.632dc","type":"OpcUa-Endpoint","z":"76c92eec.6db03","endpoint":"opc.tcp://172.20.11.1:4840","secpol":"None","secmode":"None","login":false},{"id":"c294c02b.08f2d","type":"subflow","name":"STPLC09","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC09(manual handling station).","category":"","in":[],"out":[{"x":1440,"y":160,"wires":[{"id":"5e21e371.ae759c","port":0}]},{"x":1440,"y":240,"wires":[{"id":"49fd3790.b69468","port":0}]},{"x":780,"y":280,"wires":[{"id":"7fa68e67.9f2eb","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1260,"y":300,"wires":[{"id":"cb236700.99bf88","port":0}]}},{"id":"335a8dd8.d402b2","type":"OpcUa-Client","z":"c294c02b.08f2d","endpoint":"ad1813fe.06fc8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1130,"y":160,"wires":[["5e21e371.ae759c"]]},{"id":"35088f8a.586c9","type":"OpcUa-Item","z":"c294c02b.08f2d","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":960,"y":160,"wires":[["335a8dd8.d402b2"]]},{"id":"e7cbd9c3.4be588","type":"inject","z":"c294c02b.08f2d","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":280,"wires":[["2163df81.4e5dc"]]},{"id":"8ed5e2b8.9ee57","type":"OpcUa-Client","z":"c294c02b.08f2d","endpoint":"ad1813fe.06fc8","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1120,"y":200,"wires":[[]]},{"id":"d2db0377.b73e4","type":"OpcUa-Item","z":"c294c02b.08f2d","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":960,"y":200,"wires":[["8ed5e2b8.9ee57"]]},{"id":"9ef2c186.592a3","type":"delay","z":"c294c02b.08f2d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":160,"wires":[["35088f8a.586c9"]]},{"id":"7fa68e67.9f2eb","type":"OpcUa-Client","z":"c294c02b.08f2d","endpoint":"ad1813fe.06fc8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":640,"y":280,"wires":[["6a72ec6a.04b2d4"]]},{"id":"2163df81.4e5dc","type":"OpcUa-Item","z":"c294c02b.08f2d","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":450,"y":280,"wires":[["7fa68e67.9f2eb"]]},{"id":"6a72ec6a.04b2d4","type":"function","z":"c294c02b.08f2d","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":180,"wires":[["9ef2c186.592a3","d2db0377.b73e4","1ad18a7a.915026"]]},{"id":"cb236700.99bf88","type":"status","z":"c294c02b.08f2d","name":"","scope":null,"x":1140,"y":300,"wires":[[]]},{"id":"1ad18a7a.915026","type":"OpcUa-Item","z":"c294c02b.08f2d","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":960,"y":240,"wires":[["95ca1e61.cd2e5"]]},{"id":"95ca1e61.cd2e5","type":"OpcUa-Client","z":"c294c02b.08f2d","endpoint":"553b83f1.8ede4c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1140,"y":240,"wires":[["49fd3790.b69468"]]},{"id":"49fd3790.b69468","type":"function","z":"c294c02b.08f2d","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1320,"y":240,"wires":[[]]},{"id":"5e21e371.ae759c","type":"function","z":"c294c02b.08f2d","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1320,"y":160,"wires":[[]]},{"id":"ad1813fe.06fc8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.20.13.1:4840","secpol":"None","secmode":"None","login":false},{"id":"c632861a.62d388","type":"subflow","name":"STPLC08","info":"This node is used for extracting information from the Festo cp factory. This specific type is used for STPLC08(manual packing station).","category":"","in":[],"out":[{"x":1440,"y":60,"wires":[{"id":"7cf9d93f.e0e9f8","port":0}]},{"x":1440,"y":140,"wires":[{"id":"d450b5f.ed89a48","port":0}]},{"x":740,"y":200,"wires":[{"id":"6904a17a.a010e","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1240,"y":200,"wires":[{"id":"ccccfc4b.eea11","port":0}]}},{"id":"20d1db6f.838174","type":"OpcUa-Client","z":"c632861a.62d388","endpoint":"553b83f1.8ede4c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SUBSCRIBE","x":1090,"y":60,"wires":[["7cf9d93f.e0e9f8"]]},{"id":"f59e450a.079558","type":"OpcUa-Item","z":"c632861a.62d388","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stRfidData.uiCarrierID","datatype":"UInt16","value":"","name":"","x":920,"y":60,"wires":[["20d1db6f.838174"]]},{"id":"7cae3354.46e11c","type":"inject","z":"c632861a.62d388","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["b7d28ad4.532248"]]},{"id":"4ca09d8b.d4be04","type":"OpcUa-Client","z":"c632861a.62d388","endpoint":"553b83f1.8ede4c","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1080,"y":100,"wires":[[]]},{"id":"60d37ea2.5abd5","type":"OpcUa-Item","z":"c632861a.62d388","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.stManualControl.xReadRfid","datatype":"Boolean","value":"True","name":"","x":920,"y":100,"wires":[["4ca09d8b.d4be04"]]},{"id":"b4d33f31.8cc13","type":"delay","z":"c632861a.62d388","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":60,"wires":[["f59e450a.079558"]]},{"id":"6904a17a.a010e","type":"OpcUa-Client","z":"c632861a.62d388","endpoint":"553b83f1.8ede4c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":600,"y":200,"wires":[["49ce1f2e.e6e96"]]},{"id":"b7d28ad4.532248","type":"OpcUa-Item","z":"c632861a.62d388","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.xCarrierAvailable","datatype":"Boolean","value":"","name":"CheckStopper","x":410,"y":200,"wires":[["6904a17a.a010e"]]},{"id":"49ce1f2e.e6e96","type":"function","z":"c632861a.62d388","name":"CheckForPallet","func":"if(msg.payload == true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["b4d33f31.8cc13","60d37ea2.5abd5","8d070a93.ea9f48"]]},{"id":"ccccfc4b.eea11","type":"status","z":"c632861a.62d388","name":"","scope":null,"x":1120,"y":200,"wires":[[]]},{"id":"8d070a93.ea9f48","type":"OpcUa-Item","z":"c632861a.62d388","item":"ns=2;s=|var|CECC-LK.Application.FBs.stpStopper1.stpStopper.cpfssStopper.uiMovementCounter","datatype":"UInt16","value":"","name":"PalletCounter","x":920,"y":140,"wires":[["b1a953a5.0e785"]]},{"id":"b1a953a5.0e785","type":"OpcUa-Client","z":"c632861a.62d388","endpoint":"553b83f1.8ede4c","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1100,"y":140,"wires":[["d450b5f.ed89a48"]]},{"id":"7cf9d93f.e0e9f8","type":"function","z":"c632861a.62d388","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1300,"y":60,"wires":[[]]},{"id":"d450b5f.ed89a48","type":"function","z":"c632861a.62d388","name":"Sort msgs","func":"\nif (msg.payload != context.get('hold')){\n    context.set('hold', msg.payload)\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('hold', 0)","finalize":"","x":1300,"y":140,"wires":[[]]},{"id":"553b83f1.8ede4c","type":"OpcUa-Endpoint","endpoint":"opc.tcp://172.20.1.1:4840","secpol":"None","secmode":"None","login":false},{"id":"50c109d9.32dca8","type":"subflow","name":"PLC_data","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"c5a80d0.db0c1f","type":"subflow:c632861a.62d388","z":"50c109d9.32dca8","name":"","env":[],"x":200,"y":80,"wires":[[],[],[]],"outputLabels":["palletID","palletCheck",""]},{"id":"b0c97a86.d3d6c8","type":"subflow:c294c02b.08f2d","z":"50c109d9.32dca8","name":"","env":[],"x":200,"y":140,"wires":[[],[],[]],"outputLabels":["palletID","palletCheck"]},{"id":"2aa0232d.3c6ddc","type":"subflow:76c92eec.6db03","z":"50c109d9.32dca8","name":"","x":200,"y":200,"wires":[[],[],[]]},{"id":"e869a2e4.19034","type":"subflow:4123ae0b.31182","z":"50c109d9.32dca8","name":"","x":200,"y":260,"wires":[[],[],[]]},{"id":"ce55c019.69eb5","type":"subflow:9b0ad91a.8b09b8","z":"50c109d9.32dca8","name":"","x":200,"y":380,"wires":[[],[],[]]},{"id":"a2c96b0a.476c48","type":"subflow:2a7d7421.4decec","z":"50c109d9.32dca8","name":"","x":200,"y":320,"wires":[[],[],[]]},{"id":"89a297ca.f272d8","type":"subflow:2227d493.5b1d7c","z":"50c109d9.32dca8","name":"","x":200,"y":500,"wires":[[],[],[]]},{"id":"4e1afecb.94143","type":"subflow:2faf76be.b9581a","z":"50c109d9.32dca8","name":"","x":200,"y":440,"wires":[[],[],[]]},{"id":"2070c71c.235ec8","type":"subflow","name":"IMU","info":"","category":"","in":[],"out":[{"x":760,"y":80,"wires":[{"id":"6a08d52.fa7e42c","port":0}]},{"x":760,"y":120,"wires":[{"id":"d566f46a.583818","port":0}]},{"x":760,"y":160,"wires":[{"id":"fe86c823.3b42d8","port":0}]},{"x":760,"y":320,"wires":[{"id":"277295e9.4a020a","port":0},{"id":"9ee4cc80.f7692","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"82cbf0a.b35071","type":"influxdb in","z":"2070c71c.235ec8","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM accelerationx WHERE time > now()-10m\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":400,"y":80,"wires":[["6a08d52.fa7e42c","57ed3908.51d2b8","9ee4cc80.f7692"]]},{"id":"6a08d52.fa7e42c","type":"function","z":"2070c71c.235ec8","name":"","func":"msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":80,"wires":[[]]},{"id":"87acf798.2d1628","type":"influxdb in","z":"2070c71c.235ec8","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM accelerationy WHERE time > now()-10m\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":400,"y":120,"wires":[["d566f46a.583818","6bed6f19.90da6","9ee4cc80.f7692"]]},{"id":"c664d76.51c2228","type":"influxdb in","z":"2070c71c.235ec8","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM accelerationz WHERE time > now()-10m\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":400,"y":160,"wires":[["fe86c823.3b42d8","4558d500.aa9f4c","9ee4cc80.f7692"]]},{"id":"d566f46a.583818","type":"function","z":"2070c71c.235ec8","name":"","func":"msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[[]]},{"id":"fe86c823.3b42d8","type":"function","z":"2070c71c.235ec8","name":"","func":"msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":160,"wires":[[]]},{"id":"431cd596.1b8f3c","type":"inject","z":"2070c71c.235ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["82cbf0a.b35071","87acf798.2d1628","c664d76.51c2228"]]},{"id":"277295e9.4a020a","type":"function","z":"2070c71c.235ec8","d":true,"name":"","func":"var series = [\"acceleration\"];\nvar data = [];\nvar labels = [\"x\", \"y\", \"z\"];\n\nfor(var i = 0, len = msg.accx.length; i < len; i++){\n  data.push({x: msg.accx[i].time, y: msg.accx[i].value},\n            {x: msg.accy[i].time, y: msg.accy[i].value},\n            {x: msg.accz[i].time, y: msg.accz[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[[]]},{"id":"57ed3908.51d2b8","type":"change","z":"2070c71c.235ec8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"accx","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["277295e9.4a020a"]]},{"id":"6bed6f19.90da6","type":"change","z":"2070c71c.235ec8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"accy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[["277295e9.4a020a"]]},{"id":"4558d500.aa9f4c","type":"change","z":"2070c71c.235ec8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"accz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":360,"wires":[["277295e9.4a020a"]]},{"id":"9ee4cc80.f7692","type":"join","z":"2070c71c.235ec8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":320,"wires":[[]]},{"id":"6a947d6e.a273c4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"828b6b80.d68348","type":"influxdb in","z":"6a947d6e.a273c4","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM light WHERE time > now()-10m\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":380,"y":280,"wires":[["a1c42cb.fa6a1d"]]},{"id":"5c33df3.e253b2","type":"inject","z":"6a947d6e.a273c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["828b6b80.d68348","eb104433.9260c8","7d7ba2de.25994c","806772bd.2eddb","26d35261.a8374e"]]},{"id":"dc5231ef.a7c46","type":"debug","z":"6a947d6e.a273c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":340,"wires":[]},{"id":"a5cecec6.d9ad3","type":"ui_chart","z":"6a947d6e.a273c4","name":"","group":"4f0696b7.3e3b78","order":2,"width":"20","height":"6","label":"Light Intensity over time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e6ff29","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":280,"wires":[[]]},{"id":"a1c42cb.fa6a1d","type":"function","z":"6a947d6e.a273c4","name":"compute series data","func":"var series = [\"light\"];\nvar data = [];\nvar labels = [\"brightness\"];\n\nfor(var i = 0, len = msg.payload.length; i < len; i++){\n  data.push({x: msg.payload[i].time, y: msg.payload[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["a5cecec6.d9ad3","dc5231ef.a7c46"]]},{"id":"7d7ba2de.25994c","type":"influxdb in","z":"6a947d6e.a273c4","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM temperature WHERE time > now()-10m\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":380,"y":420,"wires":[["16416709.b9ef29"]]},{"id":"cd3b4a8b.cb8a68","type":"debug","z":"6a947d6e.a273c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"5f127ccf.ecb744","type":"ui_chart","z":"6a947d6e.a273c4","name":"","group":"1490c23e.22a8ce","order":2,"width":"20","height":"6","label":"Temperature over time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":420,"wires":[[]]},{"id":"16416709.b9ef29","type":"function","z":"6a947d6e.a273c4","name":"compute series data","func":"var series = [\"temperature\"];\nvar data = [];\nvar labels = [\"Temp in Celsius\"];\n\nfor(var i = 0, len = msg.payload.length; i < len; i++){\n  data.push({x: msg.payload[i].time, y: msg.payload[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":420,"wires":[["5f127ccf.ecb744","cd3b4a8b.cb8a68"]]},{"id":"806772bd.2eddb","type":"influxdb in","z":"6a947d6e.a273c4","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM humidity WHERE time > now()-10m\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":380,"y":540,"wires":[["82456384.ffda1"]]},{"id":"ccb9a47e.97f0f8","type":"debug","z":"6a947d6e.a273c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].data","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":600,"wires":[]},{"id":"8cbde868.4515a8","type":"ui_chart","z":"6a947d6e.a273c4","name":"","group":"dfa426fa.425fe8","order":2,"width":"20","height":"6","label":"Humidity over time","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":540,"wires":[[]]},{"id":"82456384.ffda1","type":"function","z":"6a947d6e.a273c4","name":"compute series data","func":"var series = [\"humidity\"];\nvar data = [];\nvar labels = [\"STPLC_01\"];\n\nfor(var i = 0, len = msg.payload.length; i < len; i++){\n  data.push({x: msg.payload[i].time, y: msg.payload[i].value});\n}\n\nmsg.payload = [{\"series\": series, \"data\": [data], \"labels\": labels}];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":540,"wires":[["ccb9a47e.97f0f8","8cbde868.4515a8"]]},{"id":"eb104433.9260c8","type":"influxdb in","z":"6a947d6e.a273c4","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM light WHERE time > now()-2s\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":380,"y":200,"wires":[["a7d4c7da.034868"]]},{"id":"dd0f0b40.451dc8","type":"ui_gauge","z":"6a947d6e.a273c4","name":"light_intensity","group":"2f2c6a68.1b0326","order":1,"width":0,"height":0,"gtype":"gage","title":"Light Intensity","label":"","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":740,"y":200,"wires":[]},{"id":"a7d4c7da.034868","type":"function","z":"6a947d6e.a273c4","name":"","func":"msg.payload = [msg.payload[0].value];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["dd0f0b40.451dc8"]]},{"id":"26d35261.a8374e","type":"influxdb in","z":"6a947d6e.a273c4","influxdb":"5ecb4dc3.6713a4","name":"Influxdb","query":"SELECT * FROM detection WHERE time > now()-3s\n","rawOutput":false,"precision":"ms","retentionPolicy":"","org":"my-org","x":380,"y":680,"wires":[["28d6958f.1c6f9a"]]},{"id":"47772495.ee43cc","type":"ui_led","z":"6a947d6e.a273c4","order":0,"group":"5d4d0fbb.ae46a","width":0,"height":0,"label":"Object moved on","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"0","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"},{"color":"#ff0000","value":"2","valueType":"str"},{"color":"#ff0000","value":"3","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":970,"y":660,"wires":[]},{"id":"a374b353.f4c7","type":"debug","z":"6a947d6e.a273c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":740,"wires":[]},{"id":"28d6958f.1c6f9a","type":"function","z":"6a947d6e.a273c4","name":"","func":"msg.payload = msg.payload[msg.payload.length-1].value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":680,"wires":[["47772495.ee43cc","8ea385d1.44c088","66569639.270518","cac40844.981b88","a374b353.f4c7"]]},{"id":"8ea385d1.44c088","type":"ui_led","z":"6a947d6e.a273c4","order":0,"group":"5d4d0fbb.ae46a","width":0,"height":0,"label":"Object detected","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#008000","value":"1","valueType":"str"},{"color":"#ff0000","value":"2","valueType":"str"},{"color":"#ff0000","value":"3","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":970,"y":700,"wires":[]},{"id":"66569639.270518","type":"ui_led","z":"6a947d6e.a273c4","order":0,"group":"5d4d0fbb.ae46a","width":0,"height":0,"label":"Object still here","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"},{"color":"#008000","value":"2","valueType":"str"},{"color":"#ff0000","value":"3","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":970,"y":740,"wires":[]},{"id":"cac40844.981b88","type":"ui_led","z":"6a947d6e.a273c4","order":0,"group":"5d4d0fbb.ae46a","width":0,"height":0,"label":"No object","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"2","valueType":"str"},{"color":"#008000","value":"3","valueType":"str"},{"color":"#ff0000","value":"1","valueType":"str"},{"color":"#ff0000","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":970,"y":780,"wires":[]},{"id":"2dc337c8.f55608","type":"ui_text","z":"6a947d6e.a273c4","group":"c77859de.54fe38","order":0,"width":0,"height":0,"name":"","label":"X-axis","format":"{{msg.payload}}","layout":"row-left","x":970,"y":820,"wires":[]},{"id":"f1b6687.441a298","type":"ui_text","z":"6a947d6e.a273c4","group":"c77859de.54fe38","order":0,"width":0,"height":0,"name":"","label":"Y-axis","format":"{{msg.payload}}","layout":"row-left","x":970,"y":860,"wires":[]},{"id":"73eca396.49c88c","type":"ui_text","z":"6a947d6e.a273c4","group":"c77859de.54fe38","order":0,"width":0,"height":0,"name":"","label":"Z-axis","format":"{{msg.payload}}","layout":"row-left","x":970,"y":900,"wires":[]},{"id":"f446f78c.da4718","type":"subflow:2070c71c.235ec8","z":"6a947d6e.a273c4","name":"IMU","env":[],"x":370,"y":740,"wires":[["2dc337c8.f55608"],["f1b6687.441a298"],["73eca396.49c88c"],["9dd3a345.b466c","c1045e07.69507"]]},{"id":"c1045e07.69507","type":"ui_chart","z":"6a947d6e.a273c4","name":"","group":"ff3b6aa4.06fe98","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":940,"wires":[[]]},{"id":"9dd3a345.b466c","type":"debug","z":"6a947d6e.a273c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"complete","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":840,"wires":[]},{"id":"764707fc.5c0468","type":"subflow:50c109d9.32dca8","z":"6a947d6e.a273c4","name":"","env":[],"x":220,"y":720,"wires":[]},{"id":"5ecb4dc3.6713a4","type":"influxdb","hostname":"172.20.66.5","port":"8086","protocol":"http","database":"FestoSensors","name":"smartProdLab","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"4f0696b7.3e3b78","type":"ui_group","name":"Light","tab":"4ff4ca1.8bd2f34","order":5,"disp":true,"width":"20","collapse":false},{"id":"1490c23e.22a8ce","type":"ui_group","name":"Temperature","tab":"4ff4ca1.8bd2f34","order":6,"disp":true,"width":"20","collapse":false},{"id":"dfa426fa.425fe8","type":"ui_group","name":"Humidity","tab":"4ff4ca1.8bd2f34","order":7,"disp":true,"width":"20","collapse":false},{"id":"2f2c6a68.1b0326","type":"ui_group","name":"Light(Live)","tab":"4ff4ca1.8bd2f34","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d4d0fbb.ae46a","type":"ui_group","name":"Linetracker","tab":"4ff4ca1.8bd2f34","order":3,"disp":true,"width":"6","collapse":false},{"id":"c77859de.54fe38","type":"ui_group","name":"IMU(live)","tab":"4ff4ca1.8bd2f34","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff3b6aa4.06fe98","type":"ui_group","name":"IMU","tab":"4ff4ca1.8bd2f34","order":9,"disp":true,"width":"20","collapse":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"4ff4ca1.8bd2f34","type":"ui_tab","name":"Festo Dashboard","icon":"dashboard","disabled":false,"hidden":false}]